[2015-08-04 12:03] codecop opened #4 "Sessions planned 2015"
4 facilitators, 1 session each month => each facilitator 3 times a a year

done
* Jan - Christian @ FRQ
* Jan - Christian @ FRQ
* Feb - Christian @ FRQ
* Feb - Martin Hillbrand @ OLG
* Mar - Martin Lemanski @ Willhaben
* April - Peter Kofler @ Willhaben
* May - Christian @ FRQ
* June - Ernst @ OLG
* July - Martin Lemanski @ Willhaben
* Aug - Christian @ FRQ
* Sept - Peter @ Stockwerk (with ViennaP

[2015-08-06 05:15] dertseha commented on #4
With the September date already set (9th of September), I'll try to plan the August date for the 18th.

Apart from that, I'd skip the November date to avoid competition with the Coderetreat.

Also, with Ernst joining in, we're already 5 people :)

[2015-10-26 19:41] codecop opened #5 "Sessions 2016"
### Facilitators
- Christian (@dertseha) @ FRQ
- Ernst (@ernst-fastl) @ tbd
- Görge (@goerg) @ tbd
- Martin (@mlem) @ Willhaben
- Martin @ Catalysts --- retired 1.8.
- Paul (@paulroho) @ TechTalk
- Peter (@codecop) @ User Groups of Vienna

### done
2015 listed in #4
- Jan - Peter @ Lambdaheads Meetup
- Feb - Christian @ FRQ
- Mar - Martin @ Willhaben
- April - Martin @ Catalysts
- May - Ernst @ OL

[2015-10-26 19:45] codecop commented on #4
Next year planned in #5

[2015-10-29 15:59] masterhilli commented on #4
Btw. yep December is okay. Will be done. @ Catalysts (This time with a doodle for the prefect day ;) ) AS CHRISTMAS DOJO

[2015-11-19 10:01] mlem commented on #4
damn, I wanted to host a december session...

[2015-11-19 10:06] codecop commented on #4
Ha, that leaves only Feb 2016 for you. Just add to #5 ;-)

[2015-11-19 10:32] mlem commented on #4
Its a goal for me :(

[2015-12-01 18:53] codecop commented on #4
@mlem can we do the Feb dojo in Semesterferien (2.2. or 4.2.)? I have an international guest in Vienna, who might help/run/participate the Dojo then.

[2015-12-12 20:41] mlem commented on #4
yeah, I would like to. But lets talk about it in January (14th)

[2015-12-13 20:35] masterhilli commented on #5
I would love todo the following:
April
July
October

If okay by the others?

[2015-12-13 20:49] masterhilli commented on #5
ohhh and btw. maybe also the GDCR, so that it must no longer be held by frequentis?

[2015-12-14 13:38] dertseha commented on #5
Yes, tear the well renowned GDCR from the clutches of FRQ! Seriously, moving around spices things up.
As for the coming year: I'm open for any month at FRQ that nobody else wants to fill :)

[2016-01-12 10:49] #4 closed

[2016-01-12 10:55] codecop commented on #5
Regarding Feb. Dojo - can we do it in Semesterferien (1.2. to 4.2.)? I have an international guest in Vienna, who might help/run/participate the Dojo then. Would be cool to have an outsider with us for once. Who would be able to host it then?

[2016-01-12 15:41] dertseha commented on #5
As always, I'm open to take over any sessions nobody else wants to take.
Though, with this week a common time for vacations /and/ the rather remote location of FRQ I suspect there might be even less participants than normally. So, only if nobody else volunteers for this week in February, I'll be happy to host it.

[2016-01-12 18:03] mlem commented on #5
I would be happy to volunteer. Can you setup some doodle schedule finding?
Will your friend be moderator or co-moderstor? Or two moderators?

We at willhaben will host then. Wednesday or Thursday?
Am 12.01.2016 16:41 schrieb "Christian Haas" <notifications@github.com>:

[2016-01-12 19:14] codecop commented on #5
Thank you both.
Wednesday would be good. We can fix the details later. Also, if not enough people mark the doodle, we can still move the Dojo to end of February.

[2016-01-21 08:14] dertseha commented on #5
Shall I reserve the 2nd of February now at FRQ? Is this special now guest fixed, Peter?

[2016-01-22 10:34] codecop commented on #5
if it is not too much hassle for you, yes do so. Aki will come to Vienna for sure during that time and we would be available on that evening, so I plan to bring him. I will ask him if he has something special for us, but I would not count on it. So yes, pls go ahead with regular planning. Dojo will be in English then. Thank you.

[2016-01-24 22:54] codecop commented on #4
@masterhilli slides for Coding Dojo 201512xx seem to be missing. Was there anything worth adding here?

[2016-01-24 23:06] masterhilli commented on #4
@codecop thanks for the remainder ;) also GDCR is missing.... will add it too

[2016-02-11 14:35] mlem commented on #4
sign me up for december, please

[2016-02-11 14:35] mlem commented on #5
sign me up for december please

[2016-02-14 11:08] codecop commented on #4
@masterhilli slides still missing ;-)

[2016-02-15 13:43] ernst-fastl commented on #5
Hi guys,

I volunteer for May and September at the Austrian Lotteries.

is that ok for everyone?

cheers

Ernst

[2016-02-25 06:21] dertseha commented on #5
@mlem are you still up for March?

[2016-02-25 06:50] mlem commented on #5
Yes. Let me do the room planning for the second week in march.
Am 25.02.2016 07:21 schrieb "Christian Haas" <notifications@github.com>:

[2016-02-29 19:29] mlem commented on #5
Hi,

I’ve booked a room @willhaben-hq for 16.03.2016 from 18:00-20:00 o’clock.

@Christian

Can you handle the social media stuff? (softwerkskammer, doodle, reminder-mail)

Cheers,

Martin

From: Christian Haas [mailto:notifications@github.com]
Sent: Thursday, February 25, 2016 7:21 AM
To: CodingDojoVie/sessions
Cc: Martin Lemanski
Subject: Re: [sessions] Sessions planned 2016 (#5)

@mlem <https:/

[2016-03-01 07:26] masterhilli commented on #5
DONE https://www.softwerkskammer.org/activities/CodingDojoVie20160316

[2016-03-01 17:32] mlem commented on #5
You're the best. Thanks
Am 01.03.2016 08:26 schrieb "Martin Hillbrand" <notifications@github.com>:

[2016-03-01 20:08] dertseha commented on #5
Thank you, Martin & Martin!

[2016-04-11 05:12] dertseha commented on #5
@masterhilli , how about that April schedule?
Also, the date for GDCR 2016 has been set: 22nd of October. How concrete is that idea at Catalysts?

[2016-04-11 11:33] masterhilli commented on #5
@codecop @dertseha @mlem @ernst-fastl : Schedule will come today: Will be somewhere within: 25th to 28th of april

GDCR is already marked in my calendar. And should work without a problem ;)

[2016-04-11 11:37] masterhilli commented on #5
http://doodle.com/poll/5nb5perhctf33wdk see what day fits best for you, and spread the word to participate in the poll

[2016-04-17 07:52] dertseha commented on #5
When will the poll be finalized to publish the official advertisements? People won't keep up to 4 evenings free forever :)

[2016-04-18 05:56] masterhilli commented on #5
It will be thursday. Will send out the email within the next 2 days.

[2016-04-20 04:27] masterhilli commented on #5
https://www.softwerkskammer.org/activities/CodingDojoVie20160428 DONE DONE :)

[2016-05-11 09:56] dertseha commented on #5
Hello, @ernst-fastl - We're in the second week of May, how's your plan of hosting the next dojo at OLG this month?

[2016-05-12 06:26] ernst-fastl commented on #5
Hi, I want to do it on Wed May 25th.

Next week I will be in the office again and check if we can have the room. So I will create the doodle and tweet next week on tuesday or wednesday when I know for sure. That still gives people one week to make up their minds.

[2016-05-12 07:37] masterhilli commented on #5
do not forget that the next day is a holiday. Not sure how many people will join a Coding Dojo on such a day: @ernst-fastl .

[2016-05-12 10:07] ernst-fastl commented on #5
I think tue 24th or Tue 31th should also be possible. Let me check next week in the office and get back to you guys.

[2016-05-13 06:47] dertseha opened #9 "CodeRetreat on 2016-06-18?"
@codecop mentioned the idea to have a code retreat on the 18th of June 2016. There are meant to be some international guests in Vienna as well who could (would?) join.

I've checked back with FRQ and it's open to host the retreat. Budget for catering hasn't been fixed as of yet; It might be less than normally known at FRQ.

So, we've got the idea and the location. Two more important factors:
* Who

[2016-05-13 06:53] mlem commented on #9
While I appreciate the idea, I thought june would be my turn with coding
dojo. But I'm ok with facilitating a coderetreat too. I just have to make
sure to have enough time to prepare/on that day.

Cheers, Martin
Am 13.05.2016 08:47 schrieb "Christian Haas" <notifications@github.com>:

[2016-05-14 08:30] codecop commented on #9
@dertseha thanks for bringing this up. Thanks for offering FRQ as host.
@mlem I would see the CR extra to the regular dojo. We could also take turns in facilitation, or everybody brings a session.

If we want to do this then we would also need to do some advertising for it. Maybe one or two internationals would come - including some of us we might be max 10, which is not enough for a full CR I gue

[2016-05-17 13:19] masterhilli commented on #9
@dertseha I have to decline any engagement in June (--> on vacation ... ) so the Retreat must be without me!

[2016-05-17 14:34] ernst-fastl commented on #5
Hi guys,

I booked the room for 24th. Link to the doodle is: http://doodle.com/poll/guyu5wsm5f7ee68k
Can someone please create the softwerkskammerpage?

cheers

Ernst

[2016-05-17 14:35] ernst-fastl commented on #9
Hi guys,

I am happy to join, as facilitator or participant.

cheers

Ernst

[2016-05-17 18:10] dertseha commented on #5
on it...

[2016-05-17 18:45] dertseha commented on #9
Ok, so @ernst-fastl and @mlem as main facilitators (having a team is recommendable) -- possibly @codecop and I could guest-facilitate a session each as well.
I assume we stick to the standard topic of game-of-life?
As for time of preparation: Martin and I spent about two hours (1 offline, 1 in a VoIP call) discussing session ideas for last year's code retreat.

Regarding registration, I could run

[2016-05-17 19:15] codecop commented on #9
Thank you @dertseha for the initiative and volunteering for the organisation work. I guess a CR is worth at least 4 dojos, so you are up with us again ;-)
I am amazed how easy we are able to pull this off. This orga group is great.

Regarding my time, I can definitely guarantee time for a facilitator sync call the week before and running a session myself - if the main facilitators agree. So GO fro

[2016-05-20 15:09] dertseha commented on #9
@ernst-fastl & @mlem I should have noted that I'm defaulting to "no-go", to give you a chance to overthink your participation. :)
But since the business day is over and we're entering weekend, I can't check back at the company anyway. Until Monday then, when I'll talk with my superiors.

[2016-05-20 18:07] mlem commented on #9
My akku was out. Count me in, if there's still time

Otherwise I will just do a coding dojo

Christian Haas <notifications@github.com> schrieb am Fr., 20. Mai 2016
17:09:

[2016-05-22 16:05] ernst-fastl commented on #9
Hello,

You can count me in, and please give me a heads up what needs to be done for preparation.

cheers

Ernst

[2016-05-29 19:36] dertseha commented on #9
Alright. I finally got the official OK from the company and I just set up the event page:
https://www.eventbrite.com/e/coderetreat-in-june-2016-vienna-austria-tickets-25764113156#tickets

(We haven't received confirmation that the room is actually available. The chance is slim that it isn't - in this rare occasion we'll simply have to cancel.)

Spam your companies and ad channels :) Please add lin

[2016-05-30 05:16] dertseha commented on #9
Softwerkskammer: https://www.softwerkskammer.org/activities/CodingDojoVie20160202
coderetreat.org: http://coderetreat.org/events/coderetreat-in-june-2016-vienna-austria

[2016-05-30 07:43] codecop commented on #9
Link geshared in
G+ https://plus.google.com/+PeterKofler/posts/5M7e1XjvdRK
Twitter https://twitter.com/dertseha/status/737005204462243840
LinkedIn https://www.linkedin.com/hp/update/6142952132589940736
Xing

[2016-05-30 08:59] mlem commented on #9
Thank you for the organisation.

I would suggest to have a hangouts meeting this week with you and Ernst.

One more note: Today I've got the information, that I will need to leave
earlier on that day, about 2 p.m.
I hope it's ok for you.

Cheers,
Martin
Am 30.05.2016 07:16 schrieb "Christian Haas" <notifications@github.com>:

[2016-05-30 13:22] ernst-fastl commented on #9
@dertseha der softwareskammer link zeigt aufs Februar Dojo
@codecop hast Du auf Xing gepostet? Macht es Sinn dort extra noch mal in der Scrum User Group Austria zu posten?

[2016-05-30 13:54] dertseha commented on #9
Heh, falschen tab kopiert, Link ist nun richtig gestellt, danke!

[2016-05-30 14:29] codecop commented on #9
@ernst-fastl hab auf Xing den Eventbrite Link gepostet, aber hat keinen external Link den ich hier sharen kann. Macht sicher Sinn in Gruppen zu sharen/resharen wenn Du drinnen bist.

[2016-05-31 13:06] ernst-fastl commented on #9
@codecop habs jetzt in der Scrum User Group Austria und Lean & Agile Austria gepostet

[2016-06-01 05:33] dertseha commented on #9
If we are sticking to game of life, I can provide 3 large posters about the basic rules.

We try to start at 9am as close as possible - or at least, when critical mass of attendance has been reached and most are settled down. Please be there a little earlier to get accustomed to the location/beamer/... (you know the presenter-drills).
As for the sessions, while the goal is to have each 50 minutes,

[2016-06-01 14:37] ernst-fastl commented on #9
Hi i just created a pull request with the material from the last Dojo, and a initial version of the documents for the retreat based on GDCR15

[2016-06-01 14:53] codecop commented on #9
regarding time: I propose following time table

 8:30 Aufbau/Registration
 9:00 Intro
 9:15 1st Session
10:00 Short Retro/Break (10 Min/5 Min)
10:15 2nd Session
11:00 Short Retro/Break (10 Min/5 Min)
11:15 3rd Session
12:00 Short Retro/Break (10 Min/5 Min)
12:15 Mittagessen
13:15 4th Session
14:00 Short Retro/Break (10 Min/5 Min)
14:15 5th Session
15:00 Short Retro/Break (10 Min/5 Min)
15:15 6th S

[2016-06-01 21:39] mlem commented on #9
Regarding hangouts.

Please fill in when you have time this week:

http://doodle.com/poll/bwqevkdmiu3ifh25

I would like to talk directly to you for about half hour to 1 hour. Even longer if there is enough to talk.

Cheers, Martin

From: Peter Kofler [mailto:notifications@github.com]
Sent: Wednesday, June 01, 2016 4:54 PM
To: CodingDojoVie/sessions
Cc: Martin Lemanski; Mention
Subject: Re: [Codin

[2016-06-02 09:35] codecop commented on #5
@masterhilli @mlem slides from your dojos March and April still missing, Pls make a pull request. Ty ;-)

[2016-06-02 10:11] codecop commented on #9
@ernst-fastl the material you put in looks good. The time table is similar to mine, so we can keep that.
Only the final retro must be limited to 30' because we have to stop at 1700 due announced schedule.
Also I recommend removing the specific sessions from the slides, because they might change, BUT it is a good idea to have a default session in mind in case nothing else comes up. Also we could al

[2016-06-03 08:49] mlem commented on #9
@ernst-fastl @CodeCop:
today at 20:00
https://hangouts.google.com/call/jsfjo3elcbhvtopr4ttpiyagp4e
<http://doodle.com/r?url=https%3A%2F%2Fhangouts.google.com%2Fcall%2Fjsfjo3elcbhvtopr4ttpiyagp4e>
ok?

On Thu, Jun 2, 2016 at 12:11 PM, Peter Kofler <notifications@github.com>
wrote:

--
MfG Beo

[2016-06-03 10:41] ernst-fastl commented on #9
ok I'm in

Martin Lemanski <notifications@github.com> schrieb am Fr., 3. Juni 2016 um
10:50 Uhr:

[2016-06-03 17:37] ernst-fastl commented on #9
Hi guys,

Are we going to have the hangout today?

cheers

Ernst

Ernst Fastl <ernst.fastl@gmail.com> schrieb am Fr., 3. Juni 2016 um
12:41 Uhr:

[2016-06-03 17:50] mlem commented on #9
Yes, in 10 minutes

From: ernst-fastl [mailto:notifications@github.com]
Sent: Friday, June 03, 2016 7:38 PM
To: CodingDojoVie/sessions
Cc: Martin Lemanski; Mention
Subject: Re: [CodingDojoVie/sessions] CodeRetreat on 2016-06-18 (#9)

Hi guys,

Are we going to have the hangout today?

cheers

Ernst

Ernst Fastl <ernst.fastl@gmail.com> schrieb am Fr., 3. Juni 2016 um
12:41 Uhr:

—
You are receiving

[2016-06-06 07:49] ernst-fastl commented on #9
Hi guys,

@mlem and me agreed on a timeline. It ist sligtly more relexed than the one in Nov and therefore only has 5 sessions insteadof 6. @mlem will create a pull request with the updated document. Once that happend I will update the reval presentation.

@codecop if you are still up for it you can facilitate session 5 (the last session) with some fun constraint

@dertseha we agreed on time for m

[2016-06-06 10:49] ernst-fastl commented on #9
Hello,

I just created a pull request. Presentation is updated with the constraints we want to use. The old schedule is removed from the doc.

@dertseha We planned morning snack 10:30 and lunch 13:00

cheers

Ernst

[2016-06-06 20:13] dertseha commented on #9
Basically you don't need any special preparation. The posters I mentioned are already some extra goodies :) The beamer has VGA and HDMI connectors.

I will bring stickers for nametags and there'll also be flipcharts & pinwalls, should you need any.

[2016-06-16 15:25] dertseha commented on #9
I just merged the latest pull request (#13) . I'll have a look at the whole thing later this evening.
One thing for now: Beware of introduction rounds. At the moment we have about 25 participants, this round alone is nearly 15 minutes if you give every person 30 seconds.
The name tags people have to fill out can also show the programming languages they are interested in.

[2016-06-16 20:41] codecop commented on #9
Yes that is too long. We can have 5 minutes time box where participants introduce themselves to each other but obviously not complete to everybody), that is easier to track. Also ignoring this and just asking them to write tags for themselves is good and done at other CRs.

[2016-06-17 19:14] ernst-fastl commented on #9
Ok. Thanks for the advice. I'll factor that into the presentation  tomorrow.

[2016-06-17 19:16] mlem commented on #9
Thank you ernst for organising the timetable and slides. In the recent
weeks I had very limited time. I'll tell you tomorrow more.

See you tomorrow.
Am 17.06.2016 21:14 schrieb "ernst-fastl" <notifications@github.com>:

[2016-06-22 09:19] masterhilli commented on #5
@All: Can someone take over my sessions? July especially?

Additionally I will not be able to host the gdcr @ Catalysts

[2016-06-22 11:20] codecop commented on #5
From our plan that each one of us does 3 sessions - I need 1, Ernst also 1, Christian 2.
@dertseha can you do July?

[2016-06-22 11:38] ernst-fastl commented on #5
I could do one in mid or end of July.

[2016-06-22 19:24] dertseha commented on #5
It's been a while I held some, so I'm open for any regular dojo. Is it OK if I take the summer months (July & August)?

As for the GDCR, so far I've been telling at FRQ that Catalysts would host it. From a gut feeling, would I ask whether FRQ still would like to host it, they would probably still say yes. Though, two other things to clarify first:
* Does someone else want to host it? (Could also b

[2016-06-23 13:47] ernst-fastl commented on #5
@dertseha I am happy with you taking the summer months.

should we ask the indoo.rs guys if they would like to host the next GDCR? I am happy to facilitate if needed

[2016-06-24 04:50] dertseha commented on #5
I first want to see how the cooperation with indoo.rs works out - not already come with the big things :)

[2016-06-26 16:43] codecop commented on #5
I agree with @dertseha. I sent them an email to talk about true motives. It is easy to say "I like" but we need trust and true support for running anything together with them.

[2016-06-27 12:25] ernst-fastl commented on #5
Ok. I can also ask at Lotteries if we would like to host GDCR but I am not too optimistic about that. Anyway I will ask when I am back from vacation in two weeks.

[2016-08-11 12:26] ernst-fastl commented on #5
I won't be able to make it to the August session. But I would like to host the september session on Wed Sept 14th at Austrian Lotteries. And booked the room here already.

I'll post a doodle aroud the first week of Sept.

[2016-08-13 08:34] codecop commented on #5
I already scheduled a dojo with help of the the Dart group at 20th Sept. Should we have 2 dojos this month?

[2016-08-16 07:23] codecop opened #15 "Coderetreat on October 22th (GDCR16)"
It is not too late to organize an event for GDCR 2016! Please register using the following form:
http://goo.gl/forms/Px0ytk6ZS7ZQAdew1

For more context, please take a look at the the following coderetreat blog post:
http://coderetreat.org/profiles/blogs/how-to-participate-in-the-global-day-of-coderetreat-2016

Just like last year, GDCR is sponsoring CoderDojo, a worldwide, volunteer driven progra

[2016-08-16 07:25] codecop commented on #5
Created a new  issue #15 for GDCR16.

[2016-08-16 11:16] ernst-fastl commented on #5
@codecop: I am perfectly happy to wait until November to do another Dojo, I was not aware of the Dojo at the Dart group. Thanks for the heads up.

[2016-08-16 16:43] dertseha commented on #15
As discussed: We at FRQ would be happy to host it again (With my personal note: It does not have to be always FRQ).

Apart from that, we need at least one facilitator, either way.

So, volunteers, proponents or other prospects?

[2016-08-16 16:45] dertseha commented on #5
Any news with the indoo.rs people?

[2016-08-16 17:03] ernst-fastl commented on #5
@dertseha I have not heard anything from them

[2016-08-17 20:52] dertseha commented on #15
I just thought it would be good to have a deadline by which things should be clear, to have a go/no-go:
* Who's hosting (Currently: default fallback FRQ)
* Who's facilitating
If we don't have answers by that deadline, it won't happen. I propose the 31st of August.

Also paging @mlem and @ernst-fastl for input.

[2016-08-17 23:22] mlem commented on #15
Hello,

I think, willhaben has not enough capacity to host a code retreat. There
are few big rooms but they can hold max 15 persons :).

If you can't find a facilitator, see me as fallback. It's harder then I
thought, but I could try it again. In the end it's fun to do.

Cheers,
martin

Am 17.08.2016 22:52 schrieb "Christian Haas" <notifications@github.com>:

[2016-08-18 07:13] codecop commented on #15
Traditionally I plan to be away for GDCR. Seems like I will be on the ferry between Stockholm and Helsinki this time. Sorry I can not help with facilitation.

[2016-08-18 08:57] ernst-fastl commented on #15
We cannot host, but I am happy to facilitate.

[2016-08-20 07:07] dertseha commented on #15
Thank you for your quick responses.
Seems like we stick with FRQ as the host. As for facilitation, we could:
* Share it between us (Martin, Ernst and myself) and
* make a call for volunteers for single sessions at the registration.

Though, I don't know much you two (Martin, Ernst) would want to join in on coding or would otherwise feel bored for a session, while someone else takes over.

I will a

[2016-08-22 08:00] ernst-fastl commented on #15
@dertseha: thanks for offering to host again

Regarding facilitation I am open for sharing and volunteers. It would be nice to do some coding for a session or two. That does not sound boring :-)

[2016-08-22 16:06] dertseha commented on #15
Well, I did ask and was not met with immediate enthusiasm. For one, because we had said that the previous one was to be held at FRQ because "the GDCR would be hosted somewhere else anyway", and second because the attendance from our own people is minimal.

Still, the request will be forwarded to the head of development (who'll ultimately pay for the whole thing). A further idea was also that I sho

[2016-08-22 16:54] codecop commented on #15
Sadly the enthusiasm for CR has been declining in Vienna ever since. Obviously a single company does not want and should not host all the CR in Vienna - or maybe should if it wants to grow a name for it, but it is not expected. So aiming for a smaller event might make a difference, having a small event which is sold out could be cool. Also maybe places like Stockwerk would host for up to 40 ppl bu

[2016-08-25 05:52] dertseha commented on #15
I like to participate on such retreats. Then again, there was one already this year and there is a (slight) chance that similar mentality is expected on the two SoCraTes conferences I'll be these months (Germany, Austria).

Furthermore, since GDCR is right the week before SoCraTes Linz, I'd expect people like Paul to have an "either GDCR or SoCraTes" mentality, tending towards SoCraTes.

So, signs

[2016-08-25 11:56] ernst-fastl commented on #15
I am fine with skipping it this year. Lets focus on getting more people to the regular Dojos then.

[2016-08-28 16:49] codecop commented on #15
The number of participants is not the "thing". We could ask on the Softwerkskammer mailinglist Wien if someone wants to host the CR. It does not have to be big. Maybe a small company wants to step up? What do you think? If yes, I will write the message then.

[2016-08-29 07:50] ernst-fastl commented on #15
I am fine either way. My offer to facilitate still stands. It sounds like fun to visit a different company.

[2016-08-29 20:13] dertseha commented on #15
Behrang Dadsetan wants to host a coding dojo at hitbox.tv, they are in the 2nd district. He mentioned this at the last dojo and now sent me a mail, with his boss included.

With September already taken with the Dart group, do we want to confront them with
a) the GDCR
b) postpone them till November
c) no GDCR and do a "regular" dojo there in October?

Other than that, OK, we can ask around if someo

[2016-08-29 20:30] dertseha opened #16 "Reformat?"
Currently we again see a decline in regular participation and "new flesh" is getting rare again. The last dojo had three participants and the dojos before weren't that much bigger.  We did say that we might want to think about increasing our foothold.

I've been talking with a few people at SoCraTes Germany and received some input, together with a few ideas. Listing them without much explanation o

[2016-08-30 07:23] codecop commented on #16
Things like Meetup group, speakers and such are a lot of work. I have been there with the Java group for several years. And the core group of organizers was up to 10 people sharing work.

Maybe Summer break is a good idea after all. Vacation season is always tricky I guess. Sorry for you that you pulled July and August, must be frustrating.,,

Still go ahead with asking on the mailing list for wis

[2016-08-30 07:27] codecop commented on #15
Yes you could softly offer them to host the GDCR, but they will need a lot of help there. Also it is ok to decline because of unknowns, work involved, etc.
And yes c) is definitely an option as the fate of GDCR is unsure.

[2016-08-31 04:57] dertseha commented on #16
Hm, I like that view. A group just for coding dojos - doesn't have to be the representative craftsmanship community of Vienna. That makes things easier and there's no need to dare higher.

I'm OK with the Summer months - I wanted them (you know, air-con and so ;) ).

[2016-08-31 05:03] dertseha commented on #15
Today I'll have another talk with my boss where I'll tell about our newest stance. Let's see how much they want to host the GDCR now.

[2016-08-31 06:57] ernst-fastl commented on #16
I am with @codecop I think it ist good to stick with the monthly Dojos, even if there are not many people in some months.

I am planning to start at a new employer in November. Maybe I can bring in another company as host then.

[2016-08-31 20:26] dertseha commented on #16
Thank you for your responses.
In essence, no need to dare higher. Let someone else try to boost the craftsmanship community in Vienna ;)

[2016-08-31 20:27] dertseha commented on #15
That talk was cancelled, I'll try to get hold of my boss tomorrow.

[2016-09-02 04:45] dertseha commented on #15
All right. FRQ did not demand to host another coderetreat this year and I also doubt hitbox will want to do it. I offered them now to host a regular dojo in October.

Unless something/someone comes up to pull this through during September, we're not doing a GDCR for Vienna. Closing for now.

[2016-09-02 04:48] dertseha commented on #5
As of now, we're not participating in GDCR for Vienna (see #15 ) and we will host a regular dojo. This time at a new company: Hitbox.tv .

I'm in contact with their boss to coordinate the date. They asked to get a moderator from us to gather experience - does anyone want to? Otherwise I'm happy to jump in.

[2016-09-02 05:55] ernst-fastl commented on #5
I am happy to do it. But rather during the week than on saturday. Just let me know when and where.

[2016-09-03 08:21] dertseha commented on #5
They would like to have it on the 18th of October.
Their office is in Hollandstrasse 14, 1020. That's between subway stations Taborstraße and Schwedenplatz.

[2016-09-06 07:29] codecop commented on #16
Maybe this has been closed too fast. @dertseha you did not say what your goals were. I guess you had some ideas or visions what it could become and why.
* What would be a sustainable number of participants for you?
* Also the CodingDojoVie is a part of Socrates Austria/Vienna, which does not exist (yet).

[2016-09-06 18:10] dertseha commented on #16
(This ended up being a rubber-ducking post, bear with me)

Regarding the participants, it would be great to have a stable attendance of around 14 people, with more always welcome. Regularly, new people should come in, and people spread the format into their companies.
With 6 or less, especially if it is only regulars, there is not much input and more experienced can't learn to show to others. For

[2016-09-07 16:20] ernst-fastl commented on #5
Great location - that calls for a beer at Tel Aviv afterwards :-)

The date is fine and noted. Do I just show up there at 17:30 and expect them to be informed?

[2016-09-07 16:25] ernst-fastl commented on #16
A couple of thoughts from my side on this:
1. I think we could try to learn through experimentation: try a couple of different formats and see which attracts the most people
2. I think autum is a good time to start those experiments since holiday season is over
3. I could imagine a format during worktime like an "expert breakfest" from 9:00-11:00 could lower the entry bar, I would expect that some

[2016-09-08 05:12] dertseha commented on #5
@ernst-fastl I just sent a mail (you CC) introducing you to the Hitbox people.

@codecop When is the dojo with the Dart group? When & where to do the advertising/signup?

[2016-09-08 06:11] codecop commented on #5
http://www.meetup.com/Dart_Vienna/events/232386217/ - 20th
I will send announcement email next Monday

[2016-09-17 07:30] dertseha commented on #16
I received some feedback from a co-worker, who is sad to not be able to join next week's dojo because of a holiday trip: That the dojo has a "theme" was very interesting.

[2016-09-17 17:31] codecop commented on #16
I guess every dojo we did had a theme, at least most of them, because of the constraints. Maybe the theme was not made explicit or was not exciting like "clean code". I understand that some topics are more exciting - usually tool topics, e.g. async, new features in Java 8/9, FP - which I consider less important.

* So maybe we should make that theme explicit and public when announcing the dojo?
*

[2016-09-17 17:33] codecop opened #17 "Setup/Templates for Code Katas"
We have a list of projects to clone:
- C++: https://github.com/dertseha/codingdojo-cpp
- Dart: https://github.com/queltos/codingdojo_dart
- Go: https://github.com/dertseha/codingdojo-go
- Java: https://github.com/dertseha/codingdojo-java
- JavaScript: https://github.com/dertseha/codingdojo-js

[2016-09-17 17:34] codecop commented on #17
Orga of Dart group translated Java to Dart:
* https://github.com/queltos/codingdojo_dart

[2016-09-17 17:49] dertseha commented on #17
Thank for collecting them. I was thinking about this as well and haven't full thought it through yet.

Instead of forking, I'd create a new repo for them and start from scratch; There's no need to keep the history from them. Also (one of my main reasons for having a un-personal template): it would finally remove my private namespace from one or two of these templates; I didn't fully think this thr

[2016-09-18 19:43] codecop commented on #17
What is the problem of commiting into the clone of a single setup? It helps because it is already in version control.
Regarding collections, maybe sth like
* https://github.com/coreyhaines/coderetreat
* https://github.com/swkBerlin/kata-bootstraps

[2016-09-19 06:41] ernst-fastl commented on #16
Having a explicit theme for every second Dojo sounds like a nice idea to me. We could just try that for a while and see, if indeed more people join those sessions.

@codecop: If new language features attract more people maybe we could do a Dojo like the collection pipelining refactoring you did in spring. That pattern works in some othe languages as well, so that non-Java guys hopefully don't feel

[2016-09-23 13:12] mlem commented on #16
Do you want to do a brain storming about themes or a theme and create some
template?
Or do we let it flow and refactor it afterwards, when we have done it 2-3
times, and abstract it then?

On Mon, Sep 19, 2016 at 8:41 AM, Ernst Fastl <notifications@github.com>
wrote:

--
MfG Beo

[2016-09-23 18:13] codecop commented on #15
Just to inform you. Techtalk volunteered to host the CR and Paul is the host and did already a lot of work.
* Coderetreat Event: http://coderetreat.org/events/global-day-of-coderetreat-2016-vienna-austria
* SWK event: https://www.softwerkskammer.org/activities/gdcr16-wien - invitation has been sent.
* Registration: https://www.eventbrite.de/e/global-day-of-coderetreat-2016-vienna-austria-22-octobe

[2016-09-23 18:14] codecop commented on #15
@paulroho to join the discussion

[2016-09-25 08:13] codecop commented on #5
@masterhilli @mlem slides from your dojos March and April **still** missing, Pls make a pull request. Ty ;-)

[2016-09-26 04:38] dertseha commented on #17
A template project should contain only templates. Then again, pull requests with more than just modifications to the templates don't have to be accepted. And how people organize their stuff is up to them of course.

I like the approach of swkBerlin to have a separate folder level for testing frameworks.

[2016-09-26 09:12] paulroho commented on #15
Registrations on Eventbrite seem to be going rather well.
Great thanks to @codecop for the support around making it a great event. I hope to be able to welcome many of the all-time dojers of the Vienna region.
Please don't forget to advertise among your peers (meetups, colleagues, friends, ...).
Looking forward!

[2016-10-07 05:15] dertseha commented on #15
@ernst-fastl and @mlem - They are now looking for a facilitator. Are you still interested in doing it for @paulroho ?
(I already made other plans for the day, so it's another coderetreat without me)

[2016-10-09 08:56] codecop commented on #15
No worries. An international facilitator was found (so we can participate and learn from him in two ways). Everything is set. We are good to go.

[2016-10-09 10:42] ernst-fastl commented on #15
I signed up as a participant, but if help is needed with regards to facilitation I am happy to help.

[2016-10-09 22:21] paulroho commented on #15
@ernst-fastl: Thank you for offering help, appreciate that. But currently things seem to be settled.

[2016-10-14 09:40] ernst-fastl commented on #5
I am a little late with advertising the hitbox dojo next tuesday. I somehow mixed up the dates. But seeing the GDCR is in the same week now should we do the hitbox dojo a month later maybe? What do you think?

[2016-10-14 09:52] dertseha commented on #5
Oi, occupied with my house-move I forgot about that as well. I'd still say make it, they have a few from their own company joining in.
Though: Be sure to start advertising today, Friday, otherwise we might lose a weekend worth of notice.

[2016-10-14 09:53] dertseha commented on #5
...you could pitch it as preparation for GDCR ;) (or: the lightweight precursor, for people who don't want to spend a whole day)

[2016-10-14 10:37] ernst-fastl commented on #5
good idea. Here is the doodle:
http://doodle.com/poll/9cshmii3mf8i5bti
I already tweeted. Please create a softwerkskammer page.

[2016-10-14 12:09] dertseha commented on #5
SWK: https://www.softwerkskammer.org/activities/CodingDojoVie20161018

[2016-10-23 19:14] codecop commented on #15
GDCR was a success. All went well. Closing issue.

[2016-10-23 19:14] #15 closed

[2016-10-23 19:17] codecop commented on #5
Added @goerge to this thread because he wants to step up to facilitate one of the next Coding Dojos. Welcome Görge! November is still missing a facilitator ;-)

[2016-10-29 05:34] goerge commented on #5
Thanks for the invitation. Unfortunately I couldn't make November. Too much in the works. Maybe December. I'm already in discussion for a room which should also bring some new participants.

[2016-10-31 10:06] paulroho commented on #5
I will ask to host the November dojo in our office (TechTalk). My preferred date is Wednesday, Nov. 23rd.

[2016-10-31 11:35] paulroho commented on #5
We will host it. Currently doing the social media stuff.

[2016-10-31 14:52] paulroho commented on #5
Event site on Softwerkskammer is online.

[2016-11-02 20:21] codecop commented on #5
@paulroho I did not get an email invitation in group Wien. There is a Mail icon in the event. Also pls have a tween with #CodingDojoVie that we all can retrweet. Thx

[2016-11-03 16:40] paulroho commented on #5
Thanks for the hint, sent the E-Mail, this is the tweet: https://twitter.com/paulroho/status/794217392331177985

[2016-11-05 09:10] dertseha commented on #5
Bojan ( @xbojch ) is also interested in future moderation & hosting.
We're staffing up for 2017 :)

[2016-11-05 10:14] codecop opened #19 "Sessions 2017 (Motto SOLID principles)"
### Facilitators
- Christian (@dertseha) @ FRQ
- Peter (@codecop) @ User Groups of Vienna
- Ernst (@ernst-fastl) @ sIT
- Martin (@mlem) @ Willhaben
- Paul (@paulroho) @ TechTalk
- Bojan (@xbojch) @ LinkResearchTools

### done
2015 listed in #4
2016 listed in #5
- Jan - Christian (organizing) guest David Tanzer @ FRQ - Legacy Code
- Feb - Bojan @ LinkResearchTools - OCP
- Mar - Ernst @ sIT - SRP
-

[2016-11-05 23:30] xbojch commented on #16
Allow me to contribute as a participant so far.
I agree that making the "theme" public before the dojo makes the decision easier for participants.

Perhaps this is too much extra work, but maybe including a focused learning component to cover themes like OO design, design patterns, refactoring legacy code and similar would attract "fresh" people that would benefit by learning from the more experie

[2016-11-07 09:50] codecop commented on #16
@xbojch good to see you. I agree. Also with the larger number of facilitators we could go back to running twice a month and every second event could be themed, with presentations and so forth. Also, when looking on some teaching aspects, 2 hours is very short to explain sth and practice it.

[2016-11-24 19:36] dertseha commented on #5
@mlem , what's your plan for December? Can you narrow down the week?

[2016-12-03 21:15] dertseha commented on #5
@mlem is not responding, any takers?
The only viable window is in week 50 (that of the 12th of December).

[2016-12-05 13:22] mlem commented on #5
Hi. Sorry for not responding some time.

I can do it next week at willhaben on Wednesday, 18:00 - 20:00.

Can you help me again with the promotional stuff?
Please contact me martin.lemanski@willhaben.at

[2016-12-06 06:36] dertseha commented on #5
Thank you, Martin - mail sent.

[2016-12-06 21:16] dertseha commented on #5
December info created:
* https://www.softwerkskammer.org/activities/CodingDojoVie20161214
* https://doodle.com/poll/gikbbnuz976arqxc
* https://twitter.com/dertseha/status/806245639055089668

[2016-12-15 21:23] #5 closed

[2017-01-07 23:31] codecop commented on #19
Hello all, how is it looking for 2017?

[2017-01-10 15:15] xbojch commented on #19
Hi, all! Hope you started 2017 successfully!

I'd like to organize a coding dojo in February.
I'll let you know the available dates by the end of this week.
That should give us enough time to prepare everything.

I might ask you for some support setting the "marketing" side of the dojo up.

Best regards,
Bojan

[2017-01-11 20:41] codecop commented on #19
for January - if there are no volunteers - maybe @dertseha? Has been a long time...

[2017-01-11 22:07] dertseha commented on #19
I'll see if the 23rd of January is available at FRQ.

[2017-01-15 21:33] dertseha commented on #19
David Tanzer has contacted me with a [facilitation idea](https://t.co/o0dV7OBn7s), I offered him to do the January session; I'm waiting for his reply whether he has time on the 23rd or the 30th.

[2017-01-20 15:09] ernst-fastl commented on #19
Hi guys, I could do a session in March.

[2017-01-22 17:12] mlem commented on #19
Hi bros. I'll take april, july, oktober then.
See you hopefully soon.

Ernst Fastl <notifications@github.com> schrieb am Fr., 20. Jän. 2017 16:09:

[2017-01-23 10:26] paulroho commented on #19
Mesdames et Messieurs, we'd like to volunteer for May, August and November.

[2017-01-23 10:33] paulroho commented on #5
@codecop Just for the sake of completeness, could you please fix the location of the #gdcr16? Thx.

[2017-01-23 13:01] xbojch commented on #19
Great idea @dertseha, looking forward to this dojo.

I have booked two Wednesdays for February (15th or 22nd) @ LinkResearchTools and would do a doodle to see which performs better.

Glad we're filling up the slots for 2017!

[2017-01-23 15:48] ernst-fastl commented on #19
well then I'd like to take June and September, before everything is full :-)

[2017-01-23 19:52] codecop commented on #19
lol. Maybe we go back to running twice a month, esp. in good months like March/April/May and Sept/Oct/Nov and/or running a second Coderetreat in June?

[2017-01-25 09:09] paulroho commented on #19
@codecop I think, having one session per month (with exceptions) is a decent rhythm. Better to be sorry for waiting four weeks than having dojos with next to no participants. From what I saw, overcrowding is not the most urging problem ATM.
For the sake of disappointed facilitators, I'd have no problem to step back from one session.

[2017-01-25 15:50] dertseha commented on #19
Next week's dojo is a new record, in terms of participants.
We yet have to figure out whether this was because of a public theme, the guest facilitator or all things together, including minor details like the in-house ad we had at FRQ.

I'd like to keep the monthly rhythm until we figure out what a winning strategy is to keep both participants and facilitators engaged. I guess last month's dojo wa

[2017-01-26 06:02] dertseha opened #21 "Survey for session 2017-01"
January's session set a new record for participants; The registration of 30 places was filled within two days of publication. I'd like to know what makes these people tick in wanting to participate and I am thinking about creating a survey.

Several factors might have contributed; Known so far:
* Dojo with a preset theme ("Legacy Code Refactoring")
* Guest facilitator from Linz (David Tanzer)
* Mo

[2017-01-26 06:03] dertseha commented on #19
What do you think about having a questionnaire at the end of the dojo on Monday? I'd like to know what makes the 30 people tick in filling up all places in two days.
Finding the right questions is tricky, so jump over to #21 to help design the survey please :)

[2017-01-26 06:11] dertseha commented on #21
Ideas:
* How well did you like this dojo 1-4 (1: very, 4: not at all)
* What are your reasons to join this dojo ["Topic", "Facilitator", "Venue", "Other" (Specify)]
* Free-text field for any dojo-related comments: Ideas for further dojos; venue proposals; organizational; ...

[2017-01-26 08:04] xbojch commented on #21
Perhaps a question to determine if this is their first coding dojo, to be able to see what tips new participants to decide to join.

[2017-01-26 09:47] paulroho commented on #21
What about querying the people using adhesive dots and stickies on a flipchart? With this number of participants this could be a more social, interactive and fun experience, easier to prepare and contains the scoring out-of-the-box. So that would trigger an immediate discussion with everyone present.
A quick sketch what I could imagine:
![dojosurvey](https://cloud.githubusercontent.com/assets/7219

[2017-01-26 11:33] codecop commented on #5
@mlem can you pls send pull request with your session slides, material or just readme for your dojos in 03/2016 and 12/2016 so we have complete history in the sessions? Thx

[2017-01-26 11:39] codecop commented on #19
Maybe many people have new year resolutions ;-) Interesting, so many new names. Also strong participation from FRQ and the few veterans. On Meetup 30 ppl might be 20 or even only 10 in the end so I am curious how many will show up. Also I planned to drop by if time allows, which I still plan to...

[2017-01-27 06:26] dertseha commented on #21
@paulroho I like this idea, with added bonus of providing a sketch :)
Typically I'm hesitant to bind the people beyond the allotted time, though, putting some dots up should take no time.
This setup looks concise - any other question to add? (perfection is when you can't remove anything anymore...)

I also got the recommendation to perhaps ask people why they want to join during registration in th

[2017-01-27 11:00] codecop commented on #21
@dertseha yes in the Doodle add second column choose from "topic/facilitator/venue/meet friends"

[2017-02-01 05:50] dertseha commented on #21
We had around 28 participants, of which all (20 voters) felt it was a great event.
The majority came for the topic (only 4 for facilitator), and were recurring participants. Only 5 came for the first time, and two for the second (No 3rd dojo visitors).

Trying to read something out of this, it appears that having known the topic beforehand helps. And that we do have a large base of groupies alread

[2017-02-01 05:50] #21 closed

[2017-02-07 16:49] dertseha commented on #19
@xbojch So what about February? Starting a Doodle now to figure out whether it should be next week or the week after is too late I believe. Pick one, and pick it fast if it's going to be next week :)

[2017-02-07 21:57] xbojch commented on #19
Yes, I agree @dertseha. After discussing it internally and to attract most of our team, we’ve settled on the 22nd of February.
So we’ll skip the doodle for dates. I’m looking at katas that would be interesting. Did you try OCP katas before? If yes, how did it work out?

I’ll pick a kata and theme in the next 2 days and then start the announcements, hopefully knowing the content of the coding dojo

[2017-02-08 19:34] dertseha commented on #19
I don't think we did any explicit OCP kata before. GIve it a go, I'd be interested!

Thinking about it, we could run a SOLID theme as well. Each principle handled at least once in 2017. Idea out in the open.

[2017-02-09 05:56] ernst-fastl commented on #19
I like the idea. I have been looking for ideas for the March session anyway.

Maybe a single responsibility refactoring kata, similar to the tennis kata? Something to code might be nicer on the other hand.... Any ideas?

[2017-02-10 05:21] paulroho commented on #19
@xbojch Love the idea of an OCP-kata and @dertseha making a solid focus this year. Do you know pre-canned exercises/katas regarding those principles?
Unfortunately, Feb 22nd collides with a joint date of two meetups (testautomation and BDD) where I have to attend. So looking forward hearing how it worked out!

[2017-02-10 20:54] codecop commented on #19
@xbojch the Racing Car Katas, https://github.com/emilybache/Racing-Car-Katas/tree/master/Java (but not Leaderboard), all have OCP and DIP violations which need to be refactored. In a way they are OCP katas. Explaining the kata takes some time. Maybe 2 of them can be done in one evening. If you decide to use them I can provide more pointers for facilitator.

[2017-02-10 20:55] codecop commented on #19
We could have a short (15') hangout before you try two of them yourself and afterwards to ask some questions. Then you should be ok to repeat that with the group.

[2017-02-10 21:00] codecop commented on #19
The repo https://github.com/lucaminudel/TDDwithMockObjectsAndDesignPrinciples also has slides and other infos. Emily Bache's fork (Racing Car Katas) have more languges.

[2017-02-10 21:55] xbojch commented on #19
Thanks, Peter!

I'll prepare the doodle and SwK announcements during the weekend. I'll also try out the katas you suggested and we can do a hangout later.

Von meinem iPhone gesendet

[2017-02-12 19:23] xbojch commented on #19
Prepared the SwK and Doodle. Can I send it out via SwK or are there some rules about who sends it?
https://www.softwerkskammer.org/activities/CodingDojoVie20170222

[2017-02-12 19:43] dertseha commented on #19
@xbojch thank you for creating the entries! People are free to send them out themselves :) There is a send-mail button on SWK for the event, at the top.

One minor addition: If you could please add to the doodle the columns "Topic", "Venue", "Speaker", "Other". Then ask in the description the people to check what motivates them to come. For "Other", people hopefully leave some comment.

[2017-02-12 20:14] xbojch commented on #19
Thanks for the info @dertseha, I'll send the invitation as soon as I get the Doodle ready. I'm not entirely convinced, that Doodle is a good match for collecting additional data.

It's either free text options or scheduling an event (only dates + times). Here's a test doodle - IMHO it is confusing as it displays the choices as equivalent options.

What do you think about it? http://doodle.com/poll

[2017-02-12 21:23] dertseha commented on #19
Using a test-only doodle should do the trick, good idea with setting up a test.
After all, there is only one time slot to attend to, and this information (the time) is already in the main text.
Let's do this and see how people react :)

[2017-02-12 22:06] xbojch commented on #19
Ok, let’s give it a try. Will send out the invitations in the morning.

[2017-02-13 06:31] xbojch commented on #19
SwK and Doodle now published. Please share.

[2017-02-23 20:52] xbojch commented on #19
Hi, just to report on my first coding dojo. In the end 11 people participated (4 internal). For 3 it was the first coding dojo. It was interesting, and I also received some feedback how to improve. Participants really like to know the topic (theme) up front to decide if it's something for them. I could say it's confirmed by the Doodle, where most people checked that the reason they will participat

[2017-02-23 22:03] codecop commented on #19
@xbojch sounds great. Pls send a pull request with your slides/revealjs/pdf to this repository. Thank you and your employer for hosting the dojo.

[2017-03-10 16:07] ernst-fastl commented on #19
Hi guys,

I would like to do the dojo next thursday 16.3. and focus on the S in SOLID and do a SRP Kata. I have been thinking about using the tennis refactoring Kata with the following constraints:
Round 1:
-No method more than 5 lines
-No class more than 5 methods
Round 2:
-Same as Round 1 + focus on removind duplication

Feedback especially on the numbers in the constraints much appreciated. Wha

[2017-03-10 16:19] ernst-fastl commented on #19
doodle created:

http://doodle.com/poll/p2m733hyy8vucevp

can someone create the SWK event or give me a hint if/how I can do this myself?

[2017-03-10 19:53] xbojch commented on #19
I can do that. Have experience already :)

[2017-03-10 22:26] xbojch commented on #19
@ernst-fastl created the SWK event here https://www.softwerkskammer.org/activities/CodingDojoVie20170316

You can sign in to SWK using Google, Github or SO account. Then it's pretty straightforward to create an event and you can even "clone" an existing event to do it faster.

Looking forward to the dojo.

[2017-03-12 17:36] ernst-fastl commented on #19
thanks @xbojch

any feedback on the constraints? Do you think that will help towards SRP?

[2017-03-12 20:34] codecop commented on #19
SRP is pretty difficult and subjective. Small units drive towards that. While 5 LoC is a clean code constraint, it helps towards SRP.
Maybe make it extreme in second session: 5 Loc by method, each class only one method ;-)

[2017-03-12 20:56] paulroho commented on #19
While one method per class may be insightful (and fun), I have the feeling that pushing towards thinking hard about the "single reason to change" would be an interesting thing to do. What about trying to cluster the code with respect to those reasons to change. Maybe there is just a single one "If the rules of the game change"? Interesting topic anyway.

[2017-03-12 21:19] xbojch commented on #19
@paulroho I agree with you, that focusing on the "single reason to change" might be better than hard limiting the LoC per method or methods per class. On the other hand having the limit as a guide might keep people in the right direction. @ernst-fastl do you plan to do a refactoring kata or start from scratch?

[2017-03-12 21:39] codecop commented on #19
"single reason to change" is the true idea behind SRP but subjective and hard to argue. Other interpretations say "all changes come from same department", so changes from HR and sales in same class violate that.

Hard limits in several forms, e.g. "No classes with more than two instance variables" or "First class collections" etc. are all related to that and easier to verify. So if you focus on SO

[2017-03-13 16:01] ernst-fastl commented on #19
Thanks for the input guys. I was thinking of using the tennis refactoring kata with some constraints and a 4x5 Minutes show & tell at the end of the second sessions so see what they came up with.

Maybe the soft constraint are some example change requests which are not implementend but considered as a guide during refactoring.
OR
Maybe the first 10 minutes of the exercise should be used to identif

[2017-03-13 16:39] paulroho commented on #19
Not sure how the guiding by the change request can look like, but I really like the idea of thinking about the responsibilities up front. And I am really curious what we will come up here.

Regarding the limits I think that "small" is too much a matter of personal experience. Coming up with some verifiable numbers is harder to escape.

[2017-03-14 07:24] ernst-fastl commented on #19
Sounds good. I think I'll stick to the numbers in the constraints after all and start with identifying the responsibilities.

Looking forward to seeing some of you at the Dojo :-)

[2017-03-15 16:47] dertseha commented on #19
I've been absent a bit, sorry - great for organizing all of this!
Sadly, tomorrow's dojo yet again coincides with a company-team-event :/
Still, I'm curious about the outcome!

[2017-03-18 16:18] codecop opened #23 "Coderetreat on November 18th (GDCR17)"
Just to let you know: The GDCR17 has been announced and immediately Paul/Techtalk have taken sponsorship ;-) It will be run similar like last year. We will look for a guest facilitator.

[2017-03-18 16:20] codecop commented on #19
Just FYI: the GDCR17 has been announced and @paulroho is hosting like last year. Details in #23.

So we could run another CR in May or June at FRQ? What do you think @dertseha ? Is there still interest to host/sponsor us?

[2017-03-19 07:42] dertseha commented on #19
There's been interest yes, I'll have to check back again.
Though I fear it might be tricky, as the person next in contact for me is under high workload at the moment and possibly foreseeable future.

[2017-03-29 19:24] mlem commented on #19
So I think now it's my turn :D
I was planning to do the I from SOLID, ISP - Interface Segregation Principle
I will take probably the Jenkins Open Source Project as an example.
I want to discuss this matter for about 1 weak, then schedule a coding dojo
after easter holidays.
Anyone has better examples or repos to practice ISP?

On Sun, Mar 19, 2017 at 8:42 AM, Christian Haas <notifications@github.c

[2017-03-30 09:10] paulroho commented on #19
Interesting. What do you plan doing in the exercise with the Jenkins-code?

[2017-03-31 08:20] mlem commented on #19
there was (at least in the past) a god class. It had all kinds of methods
I want to Seperate it by using interfaces.
I want the participants to come to realization, that it's afterwards much
easier to work with those interfaces instead of one godclass everywhere...

On Thu, Mar 30, 2017 at 11:10 AM, Paul Rohorzka <notifications@github.com>
wrote:

--
MfG Beo

[2017-04-03 15:31] mlem commented on #5
Sure I'll see into it this or next week

On Thu, Jan 26, 2017 at 12:33 PM, Peter Kofler <notifications@github.com>
wrote:

--
MfG Beo

[2017-04-03 20:20] codecop commented on #23
@dertseha any news on CR location/sponsoring?

[2017-04-03 20:29] dertseha commented on #23
ack, thank you for reminding me - I always forget when at home and remember at work :P
As for hosting a retreat mid-year, yes, willingness is there. The question is mainly: when should it happen? Is there any special slot in May or beginning of June? Is the developers-gang convening in Vienna again?

[2017-04-03 21:03] codecop opened #24 "Coderetreat Q2/2017"
So we could run another CR in May or June at FRQ? What do you think @dertseha ? Is there still interest to host/sponsor us?

@dertseha said
There's been interest yes, I'll have to check back again.
Though I fear it might be tricky, as the person next in contact for me is under high workload at the moment and possibly foreseeable future.

@dertseha any news on CR location/sponsoring?

@dertseha sai

[2017-04-03 21:07] codecop commented on #24
@dertseha no fixed time and no guests this spring. GDCR is in November, so May is half a year before it. May or June is nice, as was last year. Possible dates 20.5., 10.6., 24.6. to avoid public holidays and long weekends.

[2017-04-09 09:40] mlem commented on #19
description is prepared.
On monday you'll get the date and the final versoin.
see https://gist.github.com/mlem/45c018fe1d56682a5615b7ca7e042e95

[2017-04-12 08:44] codecop commented on #24
@dertseha ping. Possible dates 20.5., 10.6., 24.6. to avoid public holidays and long weekends.

[2017-04-12 19:38] dertseha commented on #24
Tomorrow, Thursday I'm talking with my superior about it. I guess it'll either be 20th of May or 10th of June. I also need to check with my holiday schedule.

[2017-04-13 14:27] dertseha commented on #24
Allright. Frequentis is open to host a coderetreat on the 10th of June. We haven't checked the availability of the room, though that is a minor risk.

The last big question is now: Who will facilitate? Ask among the usual suspects?

[2017-04-17 17:47] mlem commented on #19
Hi.

I want to request your help. I have written down the setup for this coding
dojo.
Can someone verify it works for you?
https://gist.github.com/mlem/45c018fe1d56682a5615b7ca7e042e95
I'm thinking, this time the setup description should only point to this
gist, which can be updated, if there is something not working where I can
create a conversation with the future participants.

Another thing is

[2017-04-17 18:04] xbojch commented on #19
Hi,

I can help you with the doodle. When would the Dojo take place?

I can also try to set it up (as a Java amateur).

Sounds like an interesting topic, looking forward!

Von meinem iPhone gesendet

[2017-04-17 19:09] mlem commented on #19
The date: Wed, 26.04.2017

On Mon, Apr 17, 2017 at 7:47 PM, BeoXTC <beo.xtc@gmail.com> wrote:

--
MfG Beo

[2017-04-17 19:12] mlem commented on #19
thx for helping Bojan
If you have troubles, lets discuss them in that gist I've posted before

On Mon, Apr 17, 2017 at 9:09 PM, BeoXTC <beo.xtc@gmail.com> wrote:

--
MfG Beo

[2017-04-17 20:53] xbojch commented on #19
Hi, Martin,

you should’ve received an admin e-mail for the Doodle.
You can change the description there (i.e.: update a link to SWK page when created, ...)

Please confirm.

Have a good night,
Bojan

[2017-04-19 14:47] dertseha commented on #19
Thank you for organizing all of this!
So, is there a Doodle link live? And the date is for next week, 26th? We'll need the Doodle link for the also missing entry on softwerkskammer.org .

[2017-04-19 16:38] mlem commented on #19
http://doodle.com/poll/4cuawtrq8tzkr6gv
That's the poll
thx for setting it up

On Wed, Apr 19, 2017 at 4:47 PM, Christian Haas <notifications@github.com>
wrote:

--
MfG Beo

[2017-04-19 16:41] mlem opened #25 "Softwerkskammer Description Outdated"
Hi.

On https://www.softwerkskammer.org/groups/wien we are stating, that it is still considered setting up a softwerkskammer group. Is this correct? I thought, we are already somehow a group of softwerkskammer.

Cheers, Martin

[2017-04-19 17:00] mlem commented on #19
I have updated the preperation instructions

feel free to reformat it for softwerkskammer entry

https://gist.github.com/mlem/45c018fe1d56682a5615b7ca7e042e95

On Wed, Apr 19, 2017 at 6:38 PM, BeoXTC <beo.xtc@gmail.com> wrote:

--
MfG Beo

[2017-04-19 18:33] codecop commented on #25
Fixed.

[2017-04-19 18:33] #25 closed

[2017-04-19 18:35] codecop commented on #24
Maybe we/you can discuss the issue at the break during next Coding Dojo? Otherwise we can organize it all together, like everyone runs a sessions (or better always two of us run a session with overlapping facilitators).

[2017-04-20 11:38] mlem commented on #19
can someone create an entry on softwerkskammer? and promote it through
newsletter?

On Wed, Apr 19, 2017 at 7:00 PM, BeoXTC <beo.xtc@gmail.com> wrote:

--
MfG Beo

[2017-04-20 14:43] xbojch commented on #19
I can do it tonight.

[2017-04-20 20:54] xbojch commented on #19
SWK activity ready here https://www.softwerkskammer.org/activities/CodingDojoVie20170426
I will send it out in the morning.

[2017-04-20 22:37] codecop commented on #19
done

[2017-04-21 09:28] paulroho commented on #19
FYI, for internal reasons and because the April dojo is rather late in the month, we want postpone the May dojo to May 17th.
Any objections?
@codecop could you please update the overview post.

[2017-04-28 18:16] dertseha commented on #19
@ernst-fastl and @mlem - please add pull requests for your sessions of April and March.

[2017-05-05 13:40] paulroho commented on #19
As for the May dojo, I plan to use katas from the RacingCarKatas, @codecop mentioned earlier:
https://github.com/emilybache/Racing-Car-Katas

For that, I would like to accept the offer to make a pairing session upfront. Contacting you, oh Peter, via Twitter. Anyone wants to join as well?

[2017-05-07 20:41] dertseha commented on #24
Only one response received ("If no one else volunteers"). It's Sebastian and I asked him now if he's still interested. We can work out a secondary person as well then.

[2017-05-07 20:49] codecop commented on #24
Sebastian who? I am ok to facilitate one session. Maybe we can share this in the group. Else I could try to invite someone to facilitate from outside. Would we get funding for inviting a facilitator? I can ask if someone would come on his/her own expenses.

[2017-05-07 20:52] codecop commented on #24
Hm, 10th of June. So if we want to do that we need to announce it this week. I am not sure I am available 10th of June, too. Sigh

[2017-05-08 04:54] dertseha commented on #24
Sebastian Nozzi, from the Scala group. At a later date than 10th of June we wouldn't have Max' physical support. I'm already not so keen on doing the ad/ticketing stuff again (albeit a known task); Not only is there the prospect of being co-facilitator as well, I'd really like to avoid also being the only host's representative/coordinator.

[2017-05-08 04:56] dertseha commented on #19
Ah, the racing car katas. I tried them only a few times. I can join in on an upfront test.

[2017-05-09 16:33] paulroho commented on #19
Hey, here is the registration stuff for the May Dojo at TechTalk:
* [Softwerkskammer](https://www.softwerkskammer.org/activities/CodingDojoVie20170517)
* [Doodle](http://doodle.com/poll/fq2u6rczywfnmmv7)
Twitter noise is on its way.

[2017-05-10 05:08] dertseha commented on #24
Sebastian confirmed and he might even ask a colleague to co-facilitate. Furthermore he prefers a date early June since he'll be occupied with his move to Germany later that month.
I'll finalize the "Go" today/tomorrow at work.

[2017-05-11 18:15] dertseha commented on #24
We're live!
Eventbrite (main event page): https://www.eventbrite.com/e/coderetreat-in-june-2017-vienna-austria-tickets-34549758257
Softwerkskammer: https://www.softwerkskammer.org/activities/CodingDojoVieCoderetreat201706

[2017-05-11 18:16] dertseha commented on #24
Pinging @sebnozzi for organization.

[2017-05-11 18:18] dertseha commented on #24
I've set the event to be from 9am to 5:30 pm (instead of 5pm as last year). It does take longer.
Still, running only five sessions (instead of the classic 6) seems more relaxed and better fitting. Still - this is all under the main decision of our new facilitator :)

[2017-05-11 18:34] dertseha commented on #24
Also, to vent a little about this Eventbrite: Always double and triple check the event page. AGAIN I missed to update the ticket sale dates from the copied event, which of course were from last year - and thus ended.

At least I changed the payment type for the tickets to Eventbrite, which allows SEPA to be picked as an option. Let's see if this option is more accepted now.

[2017-05-12 11:07] sebnozzi commented on #24
Hello there ;-)

@codecop A pity you couldn't make it! But if there is a possibility, I would love to co-moderate with you.
 Even if it's one session (why only one? do you have to leave or you want to be on the "participant" side?).

@dertseha You can start asking in a bigger round. Not sure a colleague of mine will be available for this. Ideally it should be somebody familiar with design question

[2017-05-12 16:31] dertseha commented on #24
First of all, thank you @sebnozzi for taking up the role 👍

My impression with only 5 rounds is that it is more relaxed. You still try to time all rounds for a 6th round, only to figure out with all the unintentional "extra 5 minutes" various breaks take, it's not going to happen - or trim the final retrospective way too short.

After all, this is not the "Global Day of Coderetreat", it's just _a_

[2017-05-12 16:36] dertseha commented on #24
Pinging @mlem @xbojch @ernst-fastl @paulroho @goerg - Does anyone of you want to be a co-facilitator for the upcoming coderetreat on the 10th of June? I know you didn't volunteer for the primary role, perhaps you are interested in filling in for just one or two sessions.

The role could simply be to be there for times when Sebastian is overwhelmed (however that could happen) or he needs to take a

[2017-05-12 17:57] ernst-fastl commented on #24
I can co-facilitate.

btw. I was planning to do the June Dojo. Do you think we should do a Dojo in the same month as a retreat?

[2017-05-13 11:45] xbojch commented on #24
Thanks for the offer @dertseha. I'd like to co-facilitate. Doesn't need to be this time (@ernst_fastl already volunteered).

Von meinem iPhone gesendet

[2017-05-14 19:35] codecop commented on #24
Sorry for late reply, I was away. I will support the CR but I can not guarantee that I will be able to join because it is the last weekend before we get our new kitchen and there are maybe/likely last minute fixes to be done e.g. electricity/plumbing. In case that everything is well, I will attend.

**hosting**
@dertseha thank you for the hosting tasks like Eventbrite. I wanted to offer my help bu

[2017-05-15 07:24] paulroho commented on #19
Here is my planned outline for this week's coding dojo:
https://gist.github.com/paulroho/c0ce0f4e2a02eec771df5ba365b9504a

Feedback on this is highly appreciated (not only including @codecop and @dertseha)!

[2017-05-15 12:31] sebnozzi commented on #24
@codecop Pacman sounds like a good idea. Generally I like the idea very much to use games as an exercise. Yes, that would be great if you could provide me with some material. If anything, to have some take a look at your ideas / approach - though I have ideas on my own as well ;-)

Regarding the "subject" of the CR, I would like to explore design-subjects (I like refactoring aspects also, which I

[2017-05-16 16:26] dertseha commented on #24
I'm generally open to the topic & format.

Though, before to many ideas run wild: To date we have only three (3) tickets reserved. Asking a few semi-regulars in my vicinity I get the usual "Yes, but..." responses. On the other hand we, at the company, have also not started internal advertisement.

[2017-05-16 16:33] dertseha commented on #19
Thank you for the outline; commented!

On another note: Since the weekend I'm struggling with a cold. As it seems today, I am not sure whether I'll be fit enough tomorrow to come :(
First I'm proposing a thread for the dojos, and then I fall short to visit them one after the other.

[2017-05-16 18:36] paulroho commented on #19
Thank you for your feedback.
Just be cool with your cold. We're happy if you make it to the dojo, but even more if you stay healthy. There are more opportunities to come. :)

[2017-05-18 07:42] sebnozzi commented on #24
@dertseha But it publicly announced over the usual channels, right ... ? (whatever these are ... Softwerkskammer Mailing-List, Twitter, etc.) - Maybe it needs to be announced again? - We will also mention it tomorrow at my company.

[2017-05-24 09:42] paulroho opened #27 "Topics for in-depth Discussions"
Based on the discussion format we leveraged at the May 2017 dojo (SOLID and related principles), the participants of that issue of the Coding Dojo Vienna collected the following topics of interest for further discussions.

The topics are sorted by the number of votes, no particular ordering within each group:

Topic | Votes
------|-------
Maintainability of tests and test refactoring | 4
DDD - Dom

[2017-05-24 09:44] paulroho commented on #19
Based on the May dojo from last week, there is now Issue #27 to discuss alternative formats in or outside of coding dojo vienna.

[2017-05-31 08:09] ernst-fastl commented on #24
Hi guys, long time no comments here. Is the retreat going to happen at 10th? In that case I would schedule the June Dojo late in the month.

Also since I offered to co-facilitate I would like to sync up before. On the other hand @sebnozzi if you want to facilitate this time I am very content with just doing the June Dojo.

[2017-05-31 08:12] ernst-fastl commented on #24
ah sorry I ment @xbojch if you want to co-facilitate this time I am happy to let you do that instead of me.

[2017-05-31 09:42] ernst-fastl commented on #19
I would like to do the Dojo on June 28th @sIT so save the date. I have been thinking about doing a DIP Dojo. Maybe with something similar to https://github.com/xebia-france/geocoder-kata. They have a kata where you replace a call to GoogleGeoCode with a call to OpenStreetMapGeoCode and identify and correct DIP violations as you go.

what are your thoughts on that? maybe that kata is to simple for

[2017-05-31 09:49] paulroho commented on #19
Considering reading all the code that is available (incl. tests), looking how to factor out, reasoning and discussion it can be a nice and even to be finished example. Like it.
And there will always be people open for nitpicking discussions around. :)

[2017-05-31 09:51] codecop commented on #24
@dertseha how are we ticket wise? Probably it is time for last advertisement call on all channels we have?

[2017-05-31 10:02] sebnozzi commented on #24
My intention is to explore aspects of design / refactoring / testability (how to make something "interactive" testable). I intend to use the "snake" kata for that, as I have been working with that privately. I still don't have an exact layout of the sessions.

[2017-05-31 10:07] codecop commented on #24
awesome @sebnozzi I am looking forward to it

[2017-05-31 12:45] ernst-fastl commented on #19
I also expect some .NET Programmers and possibly other languages to be present so maybe some kata that is already available in multiple languages would be nice. Does anybody have an idea?

[2017-05-31 12:50] ernst-fastl commented on #19
btw. I already created the doodle so I can start internal advertisement. Last time some colleagues complained that they did not know it soon enough. I think I'll do the SWK and twitter ads a week before.

http://doodle.com/poll/ne4gtuyvegd7su73

[2017-05-31 12:54] paulroho commented on #19
Just FYI, June 28th conflicts with the Vienna [BDD Meetup](https://www.meetup.com/Vienna-BDD-Meetup/events/239880952/?comment_table_id=479877239&comment_table_name=event_comment)

[2017-05-31 18:09] dertseha commented on #24
As of today, we have 7 registrations.
I am highly sceptical. Both in terms of whether we'll reach the minimum attendance (12) and in terms of my motivation trying to reach even this minimum number :/

[2017-05-31 18:39] codecop commented on #24
why is 12 minimum attendance?
I will do some advertising. What do we need
* send emails to all colleagues/employees (every facilitator)
* Twitter buzz (every facilitator retweets)
* Softwerkskammer Email reminder (Peter)
* register with Coderetreat page (have you done so? / Peter)
* mail to user groups (I can handle JavaVienna, I guess @sebnozzi can send to Scala, what else can we reach?)
* I can

[2017-05-31 19:02] dertseha commented on #24
12 is some half-arbitrary number to rectify an event on Saturday in the company. 20 is furthermore the minimum number for a professional catering, below that, it is cheaper to order pizza with the budget than to pay a cook.

Please retry on the coderetreat page. I tried to register, it should have worked, though I couldn't find my entry nor work the page itself to search for it. Since that page ga

[2017-05-31 20:30] sebnozzi commented on #24
@codecop I have no power in the Scala group anymore (I'm not even a co-organiser). But I can enter an event in the "professional software developers" group.

[2017-05-31 20:41] sebnozzi commented on #24
Announced: https://www.meetup.com/prodev-vienna/events/240428663/

[2017-05-31 21:16] xbojch commented on #24
Thanks for pushing this @codecop. I can advertise it in PHP group and also in WeAreDevelopers (conference page with 3800 devs) and FreeCodeCamp Vienna. I might be able to reach Python devs too. :motivated:

[2017-06-01 08:19] codecop commented on #24
Tickets
https://www.eventbrite.com/e/coderetreat-in-june-2017-vienna-austria-tickets-34549758257

**Announcements**

Tweet - DONE
https://twitter.com/codecopkofler/status/870186898593112065 -> pls retweet all

Coderetreat site - tried twice, seems broken

User Groups
* Event in Professional Software Development Event
* Event in Java Vienna Meetup
* Mail to Clojure, PHP, Lambdaheads und Python UG L

[2017-06-01 09:07] codecop commented on #24
@dertseha technically 6 ppl are the minimum, to have a new pairing partner each session. Also, e.g. last CodingDojo was very interesting with 6 or 7 in total. A CR with <= 10 ppl could be a success, I understand complications of hosting and sponsoring are not "worth" small groups, so I am ok with your limit. I am also ok with ordering pizza or sth to keep overhead to a minimum.

[2017-06-01 16:37] codecop commented on #24
@xbojch waiting for your report of success ;-)
@paulroho do you have options to announce the CR also through TechTalk - more C# devs are always a win

[2017-06-01 20:30] xbojch commented on #24
Sorry for not posting back the results @codecop.
My yesterdays intention mail was sort of a report.
But here’s a recap.

Posted in Facebook:
- FreeCodeCamp Vienna
- ViennaPHP
- WeAreDevelopers page (visitor post)
- own timeline (tagged Lemmings I/O)

Twitter:
- re-tweeted your post @codecop

Sent an e-mail to one of the organizers of PyDays Vienna to spread the word in the Python community.

Hope

[2017-06-05 20:29] dertseha commented on #24
As by today we have 13 registrations (excluding my own attendance).
Tomorrow before noon Eventbrite will send out the first reminder mail.

[2017-06-07 08:04] ernst-fastl commented on #24
@xbojch do you want to co-facilitate or do you want me to do that?

[2017-06-07 10:28] xbojch commented on #24
@ernst-fastl you can take this one.

Von meinem iPhone gesendet

[2017-06-08 18:19] dertseha commented on #24
We're at 15 registrations and ticket sales has ended. One further person is unsure to come and I've had two late requests as well.  So we should be around 15-18 people.

@sebnozzi Do you need anything else? The projector has both VGA and HDMI connectors.
Please include a "life saving facts" somewhere at the beginning of your presentation:
[code]
I'll be there from around 8:15-8:30.

(I just realiz

[2017-06-08 21:10] sebnozzi commented on #24
@dertseha Great. Ok, I will include that info in my slides. Do you have existing slides or pictures (for the gathering point) or is it not necessary? I have a MacBook Pro (2015) so I have HDMI and mini-display-port.

Regarding registration at the desk. Normally I would not care much - but I do if it means I can't have WiFi! (might need it for some reason)

[2017-06-09 05:06] dertseha commented on #24
No extra images needed - the gathering point is visible from the training room.

I should be able to get your registration in.

[2017-06-09 05:06] ernst-fastl commented on #24
@sebnozzi I tried to ping you on linkedin yesterday. Do you want to have a chat about facilitation today? Anything I should prepare? Alternatively I can be there tomorrow at 8 already and we can go through the agenda tomorrow

[2017-06-09 08:41] sebnozzi commented on #24
@ernst-fastl @codecop My idea for the retreat will be something like this (still refining the outline). I want to use the "snake" kata, because I think it's an engaging and interesting problem. Because it offers so much, we will be working on one codebase throughout the day (no "delete your code").

However, I want one of the partners to rotate, to bring "refreshment" to the team, to stimulate new

[2017-06-09 11:33] sebnozzi commented on #24
After a quick phone call with @ernst-fastl we agreed to do like this: rules for the Kata will be presented at the beginning, but implementation will proceed in three phases. Each session will introduce new constraints. The second session will be "make a test-list" The last session will be a refactoring/OO-calisthenics session. Possible sessions in between "evil ping-pong", "talk only through code"

[2017-06-09 15:46] dertseha commented on #24
I will bring the fabric-friendly stickers from last year again, on which people can write whatever we (they) like.

[2017-06-10 19:25] codecop commented on #24
Thank you all @dertseha @sebnozzi @ernst-fastl - a full success.

[2017-06-10 19:25] #24 closed

[2017-06-20 20:50] dertseha commented on #19
@ernst-fastl I suppose I can already use your doodle link in FRQ as well now, right?

[2017-06-23 17:12] ernst-fastl commented on #19
yes please go ahead. I will Twitter today. Can you point me to a "how to create an SWK event"?

[2017-06-23 17:27] dertseha commented on #19
Ok, I hope we can get enough traction until Wednesday :)
How to: copy/paste is the trick and SWK supports in that: when logged in,
* open a previous entry (at best one that had already your address)
* select button "create new based on this"
* Modify as necessary (typically Doodle link)
* Ensure SWK registration is not possible (keeps resetting this field)
* Address suffix: "CodingDojoVieYYYMMDD"

[2017-06-25 17:59] ernst-fastl commented on #19
ok SWK event created. I got 3 additional confirmations from employees at s IT. So it will be small, but maybe nice nevertheless.

[2017-06-26 04:37] xbojch commented on #19
Congrats! Don't forget to send it out via SWK. Haven't received a mail about it.

Von meinem iPhone gesendet

[2017-06-26 06:19] ernst-fastl commented on #19
thanks @xbojch
I thought it would do that automatically :-0

[2017-07-05 15:25] mlem commented on #19
Next Coding Dojo Motto: Contribution
I've got a younger brother, he is doint HTL Spengergasse Evening School. He will bring 3 of his friends and I'm looking for experienced Pair Programmer and TDDers to show them, how it is done, so they can grasp it.

Let's see how it will work out.
I'm planning the 26.07.2017

[2017-07-05 15:26] mlem commented on #19
Does anyone of you know a good trivial kata for a coding dojo for starters? One, which can ignite the fire but still not overwhelm them?

[2017-07-05 16:00] dertseha commented on #19
@mlem , thank you for getting in new people :) I should be able to join there as well.

As for the question of simple katas:
A very simple one is the roman numeral converter, and this one I'm also not that much happy about. Because it is a prime example of testing an algorithm and in many cases of running this kata the discussion arose about when are there enough tests and at which point is it eno

[2017-07-05 20:32] codecop commented on #19
@mlem if your goal is to show TDD to beginners, maybe the String Calculator kata in a way that each requirement/test case is given to the pairs in paper only when the previous test is green. So not whole up front but piece by piece. The kata is very simple. Also interesting to long term attendees. The motto would be "Cycles of TDD"

[2017-07-05 21:09] dertseha commented on #19
Ah, yes, the string calculator - I failed to remember that one - that's a very good candidate!

[2017-07-12 07:39] mlem commented on #19
@dertseha @codecop
Thanks for your input.
I think, we should make your @dertseha second last post to wiki.

can someone assist me in creating the dojo for 26.07.2017?
http://doodle.com/poll/cktgeih892epxc9r
I would need a softwerkskammer entry and newsletter.

[2017-07-12 16:59] xbojch commented on #19
I can help with SWK @mlem.

Von meinem iPhone gesendet

[2017-07-13 15:45] mlem commented on #19
that would be great. Notify me if you need further information and if you are ready to send the newsletter.

[2017-07-13 15:57] mlem commented on #19
the meta:

[2017-07-13 21:02] xbojch commented on #19
SWK event ready here: https://www.softwerkskammer.org/activities/CodingDojoVie20170726

Let me know if you’d like to change anything.

I’ll send it out in the morning.

[2017-07-14 11:11] xbojch commented on #19
SWK event invitation sent.

[2017-07-19 08:37] paulroho commented on #19
FYI, my colleague David Leitner (@duffleit) (known as dojo participant) will be the facilitator of the August issue at TechTalk. Details to follow.

[2017-07-19 08:55] duffleit commented on #19
We will be working on the Anagrams Kata as found on https://github.com/duffleit/AnagramsKata. A simple boilerplate available in Javascript, Java and C#. Appropriate restrictions will focus us on honing our skills in the process. Details to follow.

[2017-07-19 09:17] paulroho commented on #19
The Softwerkskammer-event is here: https://www.softwerkskammer.org/activities/CodingDojoVie20170822. To avoid confusions we will send out the invitation just after the July issue next week.

[2017-07-19 13:42] mlem commented on #19
Thank you very much @xbojch

[2017-09-06 05:29] dertseha commented on #19
@ernst-fastl It's September. Are you still planning to host this month? Any idea on which day?
@paulroho please organize a pull-request for the August slides.

[2017-09-06 05:32] duffleit commented on #19
@dertseha I'll add the slides today.

[2017-09-06 06:18] ernst-fastl commented on #19
@dertseha: Thanks for the reminder. I will do the Dojo on Thursday Sep 28th. I'll create the doodle soon.

Are there any SOLID topics left? If not I would like to go for something simple and try to motivate a couple of first timers in my company. What do you think?

[2017-09-21 18:30] dertseha commented on #19
heh, my silence mirrors my neutral stance on selecting the topic :) I believe each of SOLID has been covered, it can still be a fallback if you don't have anything.

[2017-09-21 19:26] codecop commented on #19
SOLID is a large topic and we can run on it forever. I like the topic and it gives a theme to the session. There are more exercises for each letter. Like LeaderBoard from Emily Backe for LSP.
On the other hand, sessions for beginners, also like run by mlem, are always in scope/welcome.

[2017-09-22 12:28] ernst-fastl commented on #19
ok thanks for your feedback. I will use the Bowling Kata for the Dojo next week with the constraint "make a test list" in session 2.

[2017-09-25 16:36] ernst-fastl commented on #19
So far only 2 registrations for the dojo on Thursday. I'll try to motivate some more colleagues, but any help you can offer is appreciated ;-)

[2017-09-25 16:36] ernst-fastl commented on #19
btw here is the doodle: https://beta.doodle.com/poll/s8vss3b7qn6pwwte

[2017-09-25 18:44] xbojch commented on #19
I’m speaking at a Laravel Meetup tomorrow about TDD. I’ll advertise the Coding Dojo Vie and the thursdays dojo there, maybe it turns some heads and bring some new comers.

[2017-10-10 14:29] codecop commented on #23
As you may have seen, Paul managed to bring Emily to Vienna. So now it is time to make some noise about it. Pls @mlem @dertseha @xbojch advertise the CR as usual.

[2017-10-11 20:55] xbojch commented on #23
Posted in my usual channels. Will try to add a few tomorrow. Looking forward to the GDCR.

Von meinem iPhone gesendet

[2017-10-16 15:30] mlem commented on #23
sorry I'm bit off the lane.
Where is some info I could share? When is it, where is it?

I would like to hold a Dojo in Oktober. Does it make sense, if the
schedules colide?

On Wed, Oct 11, 2017 at 10:55 PM, Bojan Bedrac <notifications@github.com>
wrote:

--
MfG Beo

[2017-10-16 15:47] mlem commented on #23
one more thing:
I could probably talk to my HR about sponsoring.
Do you want to have some more sponsoring?
And if yes, what do you need, and how would you represent the sponsors?

Should I then order a Sponsor ticket? or shall I talk to you guys first?

On Mon, Oct 16, 2017 at 5:30 PM, BeoXTC <beo.xtc@gmail.com> wrote:

--
MfG Beo

[2017-10-16 17:52] codecop commented on #23
The CR is November 18th, so Oct Coding Dojo is definitely ON!
ad Sponsoring, @paulroho do we need anything?

[2017-10-17 18:33] paulroho commented on #23
Thank you @mlem for the offer. We have already fully budgeted the expected costs, but I will ask and come back to you.

[2017-10-18 05:59] mlem commented on #23
don't. I've asked again and we don't have any budget left

El 17/10/2017 20:39, "Paul Rohorzka" <notifications@github.com> escribió:

Thank you @mlem <https://github.com/mlem> for the offer. We have already
fully budgeted the expected costs, but I will ask and come back to you.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.co

[2017-10-18 07:08] paulroho commented on #23
@mlem Ok, canceled the request.

[2017-10-30 06:10] dertseha commented on #19
So, October came and went - @mlem is everything all right?
@paulroho do you still want to hold a dojo close to the GDCR?

[2017-10-30 06:39] paulroho commented on #19
Yes, I am still planning to do so. Or what do you think?

[2017-10-30 09:37] mlem commented on #19
hy,
sorry for not getting in touch with you.

Due to some private issues I couldn't focus on organizing the coding dojo
last month.
I will do a coding dojo in the future but not in the next few month.
Again, I'm sorry. I will attend at the code retreat. If you are there I
will tell you my story ;)

Cheers, Martin

On Mon, Oct 30, 2017 at 7:39 AM, Paul Rohorzka <notifications@github.com>
wrote:

--

[2017-11-05 22:52] paulroho commented on #19
Unfortunately verrry late, I created the event page for this week's coding dojo: https://www.softwerkskammer.org/activities/CodingDojoVie20171108.
I already sent out the invitation to the members and here is a tweet to do some rebuzz: https://twitter.com/paulroho/status/927307634784468992

[2017-11-05 23:14] paulroho commented on #19
BTW, the opic does not adhere explicitly to this year's motto. As we already tried on an internal dojo, the assignment will be to extend the mistake proof TicTacToe, @codecop and me did a few weeks ago.

So it's more about twisting the head around unusual APIs.

[2017-11-05 23:15] paulroho commented on #19
(Sorry for temporarily closing this issue. - #layer8issue)

[2017-11-06 06:50] dertseha commented on #19
Thank you, @paulroho !
(In a fit of im-not-entirely-awake I thought we already have December and thought both SWK and Doodle entries were wrong. ;) )
Invitation broadcast via my channels.

[2017-11-22 21:37] codecop commented on #23
that was a great cr. Thank you for your support

[2017-11-22 21:37] #23 closed

[2017-11-23 06:56] dertseha commented on #19
@paulroho you still want to repeat the November attempt? If so, it's best to send out the info today (Thursday).

[2017-11-23 06:57] dertseha commented on #19
Also, I see that no-one volunteered for December. Do we want to run one?

[2017-11-23 07:53] xbojch commented on #19
I volunteered for December. We‘re moving to a new office this week, so I want to see it first before setting a fixed date. But it will be in the first half of December. Open for topic suggestions, or I‘ll pick one SOLID.

Von meinem iPhone gesendet

[2017-11-23 11:58] paulroho commented on #19
@dertseha thanks for pinging me.

Here's the buzz:
* [x] SWK-Activity: https://www.softwerkskammer.org/activities/CodingDojoVie20171129
* [x] Doodle: https://doodle.com/poll/fxkywtddgqftnqw7
* [ ] Info-Mail via SWK
* [ ] Twitter
* [ ] DotNetDevsAustria SlackChannel

[2017-11-23 14:39] paulroho commented on #19
BTW, the repo for the November dojo would be super pleased getting a PR for a - say - Java port. Makes just sense for a statically typed language.
@goerge, @dertseha, @rolger, @codecop anybody? :)

[2017-11-23 15:07] paulroho commented on #19
Hold on, my dearest! I totally oversaw that @codecop already sent a port yesterday!
So many thanks to him and welcome all you Java-people to the show!
Will update the SWK-announcement.

[2017-11-23 16:04] dertseha commented on #19
@xbojch great, thank you!
@paulroho I'll have a look on the weekend whether a port to Go and/or C++ would be feasible.

[2017-11-23 20:55] dertseha commented on #19
@paulroho I'm lost a bit - where's the Java port? Your repository hasn't changed in 2 months, and the SWK post doesn't have any further link.

[2017-11-26 22:49] paulroho commented on #19
Sorry for the confusion. @codecop has provided his Java-version here: https://bitbucket.org/pkofler/tictactoe-mistakeproof-java
And I also updated my the C# version's readme and the SWK event page.

[2017-12-11 10:47] xbojch commented on #19
Hi, all!

[2017-12-11 10:51] duffleit commented on #19
Why not - I could join on both dates.

[2017-12-11 15:49] dertseha commented on #19
Either date is very close to the holidays for most I guess - at least what I hear from my surroundings that they are occupied so much these days. Yet still, if you don't publish, you'll never know ;)

Even for myself, there's only a slight chance I would be able to make it on 20th. There's another year-in-review event at the company after which I could come - unless this event takes very long and/

[2017-12-11 17:30] goerge commented on #19
As as I can tell now, I'd join on either day. Maybe we can relocate to a Christmas market after doing the coding stuff...

[2017-12-11 21:51] xbojch commented on #19
Published it on:

- SWK: https://www.softwerkskammer.org/activities/CodingDojoVie20171220
- Doodle: https://doodle.com/poll/7v48a8kwhcuwu2yp
- Twitter: https://twitter.com/xbojch/status/940336625145597952

Please share with love! I'll send the SWK e-mail in the morning.

Idea for Christmas market afterwards: U1 -> Karlsplatz.

Did any of you do a dojo with this kata https://github.com/sandromancus

[2017-12-12 05:34] goerge commented on #19
Afair we did the bank kata with @codecop at willhaben years ago. But I do not remember what learning were.

[2017-12-12 20:14] codecop commented on #19
We did the Bank OCR which is a different kata than Sandro's, So new kata, yeah let's go

[2017-12-19 06:29] xbojch commented on #19
Hi guys, I fell sick today with fever and . I'll try to get better by staying in today. If I don't get better and can't join tomorrow would it be an option that @goerge or @dertseha (as most experienced) moderate the session tomorrow. I'll prepare the presentation and rules.

[2017-12-19 06:39] dertseha commented on #19
@xbojch sure thing, we can manage.
Avoid stressing you out too much, it's better to stay in longer than to risk spoiling the upcoming holidays for yourself.

[2017-12-20 12:43] xbojch commented on #19
I'm on sick leave until Friday. @dertseha here are the slides for today https://cdn.rawgit.com/xbojch/sessions/session20171220/session20171220/index.html

Marian Gablovsky will be there as host today. Please find him in Top-2 if you come early.

Thanks for jumping in!

[2017-12-21 10:10] xbojch commented on #19
Thank you very much @dertseha. I've heard it was successful.
I'm happy that we managed to make this year of coding dojos possible and successful.

Wish you all happy holidays and looking forward to the next year!

[2017-12-21 15:40] dertseha opened #36 "Sessions 2018"
### Facilitators
- Christian (@dertseha) @ FRQ
- Peter (@codecop) @ User Groups of Vienna
- Ernst (@ernst-fastl) @ sIT
- Martin (@mlem) @ Willhaben
- Paul (@paulroho) @ TechTalk
- Bojan (@xbojch) @ LinkResearchTools

### done
2015 listed in #4
2016 listed in #5
2017 listed in #19
- Month, Who @ Where [- what]
- Jan,
- Feb,
- Mar,
- April,
- May,
- June,
- June,
- July,
- Aug,
- Sept,
- Oct,
- Nov,

[2017-12-21 15:41] dertseha commented on #36
Welp, new year is upon us. Any immediate volunteers?
January is just around the corner, would be good to settle that one first.

[2017-12-21 15:44] dertseha commented on #36
Also, from past experiences it seems that having a topic set up for a dojo beforehand helps people to decide whether or not to join. This doesn't mean the exercise itself must be defined, only the main focus (e.g.: refactoring, object calesthenics, testing legacy, SOLID, ...) should be visible in the invitation.

Having a topic for the whole year doesn't work out so well :)

[2017-12-21 15:44] dertseha commented on #19
Another year completed!
Thank you to all of you making this work, and all the best for the future :)

Also, no rest for the wicked, 2018 is covered here: #36

[2017-12-21 15:44] #19 closed

[2017-12-21 15:55] dertseha commented on #16
Over one year later, we seem to have collected some experience with "topics at invitation time".
Demand is still below threshold for running two equal dojos a month.

I'd have proposed for closing this issue, then I remembered one idea that someone had:

Would there be a demand for a "Master Class" dojo? e.g., one dojo that is like we've been running for years now, and a second, going more into di

[2017-12-21 15:56] duffleit commented on #36
Hi, to avoid abusing issues for discussions, Github introduced a new feature last month called team discussions. Probably this is more suitable to discuss about Sessions for 2018. :) https://github.com/blog/2471-introducing-team-discussions

[2017-12-21 15:57] dertseha commented on #16
@paulroho would your #27 fit into this "dev master class" idea?

[2017-12-21 16:11] dertseha commented on #36
Hm. In our case these issues are bound per year and give a nice overview which month is taken by whom. I don't expect that people can modify posts from other people. In the current case, I could update Peter's first post for instance to update people's assignments.

So far I'm not convinced :)

[2017-12-21 17:11] paulroho commented on #16
Definitely!
Love the Master Class idea, but not so much the name, as it does not sound overly inclusive.

[2017-12-22 12:58] mlem commented on #16
I'd call it nitpicking class.

I agree, that people have different flavors about the difficulty or depth
of dojos. I had expert guys sighting when doing randori katas with junior
developers.

But, I see dojos as a team exercise  to practice katas. In asian martial
arts you train the same thing over and over, until you have it in your
blood. And then you still do it, to keep it in your blood.

Once

[2017-12-24 12:40] codecop commented on #16
yes @mlem great question - what do we want to achieve? What do we want?

* @paulroho did the session because we wanted to know/test how other people would use the API - call it research.
* I did some dojos to test run certain katas and exercises.
* I also did some dojos to just run a dojo for the community, minimizing effort on my side.

[2017-12-25 10:58] dertseha commented on #16
To be clear, I'm thinking - more as in "theorizing", rather than "I'd like to do" - about diversification of our brand "CodingDojoVie" as the "official" representation of the Softwerkskammer in Vienna.

Meaning, in the area of getting better, there's the classic dojo, as Martin describes, and separate to that perhaps this nitpicking master class.
Side-note: We've had a few misunderstandings at SoC

[2017-12-25 14:26] codecop commented on #16
@dertseha
till now CodingDojoVie is just the Coding Dojo (not the Code**rs** Dojo which is the children training organisation that you mentioned). Of course a coding dojo shares the mindset of software craftsmanship. Now I understand your (periodic) reminder as a series of questions

1. What is the purpose of CodingDojoVie? (we have different answers for that already).
    * basic practice
    * t

[2018-01-02 10:38] paulroho commented on #16
Love the thoughts and discussion.
I see the CodingDojoVie first and foremost as a craftsmanship community. Having the monthly meetups is the baseline of activities, supporting the GDCR in one way or another being the light-house of it.
I deliberately avoided the term coding dojo for our monthly gatherings as I am not sure, if it always has to be a classical dojo. I think as a minimum we should sti

[2018-01-17 07:57] ernst-fastl commented on #16
I also like the idea of trying out new formats. At the same time I also think we should continue to support the community by a number of Dojo's and Retreats over the year. I am happy to host and facilitate 4 events per year, regardless whether it is a Dojo, a meetup with pesentations and moderated discussions to work on a specific topic, or something else.

It would however be hard for me to do tw

[2018-01-17 08:02] ernst-fastl commented on #36
I just assumed it is "first come first served" and grabbed Feb, May and Sept

[2018-02-01 08:17] xbojch commented on #36
Get it while it’s hot. I‘d like to take March and June. Maybe more later. I‘m a bit sad that January has passed without a dojo.

[2018-02-01 20:10] codecop commented on #36
With @paulroho and @mlem busy, I guess we are not enough facilitators. I can host/run a dojo, but I need a room. Any ideas?

[2018-02-01 20:26] xbojch commented on #36
Our „room“ is available for any given month.

Von meinem iPhone gesendet

[2018-02-01 20:29] codecop commented on #36
Thank you but then you need to be there as host at least. That does not feel right to me in distributing the work. Also I do not want to overstretch hosts. But yes, a real option of last resort of course.

[2018-02-02 08:01] mlem commented on #36
Hi.

I've been loaded with work lately. I can take April and July, until then I
should finish my project.

We are ready to host coding dojos with you as moderator, @peter.
Just tell me which day and time and I'll take care of it.

Cheers,
 Martin

Am 01.02.2018 21:29 schrieb "Peter Kofler" <notifications@github.com>:

[2018-02-02 10:26] ernst-fastl commented on #36
I am also happy to host additional Dojos. One of my colleagues is interested in learning how to facilitate Dojo's. After some learning I think he could also take over some facilitation.

cheers

Ernst

[2018-02-04 19:04] dertseha commented on #16
hmm. naming issues. our all favourite.
To clarify: Should we think about the name of what we do (public, regular workshops to train skills), and/or about the name who we, the organizers, are collectively?

Brainstorming out of the box:
* We're currently the official Viennese representatives of the Softwerkskammer community in the DACH region (under the assumption no one else claims this)
* Two ind

[2018-02-05 06:55] ernst-fastl commented on #16
I like the idea of Softwerkskammer Wien. It fits what we have been doing so far and leaves room to try new things. If there is a defunct Meetup group we could try to bring it back to life or at least advertise our events through that channel as well.

[2018-02-05 10:55] codecop commented on #16
@dertseha agree, maybe call it "monthly practice" and sometimes we have a "monthly training" if something special was prepared and sometimes we have "monthly discussion" like it was with SOLID run by @paulroho and rarely "monthly experiment" (nobody needs to know ;-)

So we rename the public page and github organization to SWK Vienna? I checked and there are two accounts, swkBerlin and SWK-DUS (Dü

[2018-02-05 11:21] codecop commented on #36
Thank you all for your support. It looks like I can use Markhof Coworking https://markhof.wien/ might host me for coding dojo. I will see when the time is here.

[2018-02-05 17:35] dertseha commented on #16
I am currently in the process of renaming things to "swkWien". Since "SWK" is already a German term, I wanted the city name to be German as well. Furthermore this avoids a clash with the city of Vienna in Virginia, USA. (...as if...)

GitHub reports that the old links should be set up with a redirect, it is still recommended to modify all local repositories. (Some sneaky person could hijack the ol

[2018-02-05 18:38] dertseha opened #38 "Reorganize sessions folder"
We've collected quite a lot of sessions over the years already. With the recent rebranding, I'd like to clean up here as well:
* Move sessions to year-specific folders. session folder name stays identical. e.g. ```repo-root/session20001122/*``` will become ```repo-root/2000/session20001122/*```
* All sessions that reference the reveal-js at the root will receive their local copy. (Git handles file

[2018-02-05 18:58] dertseha commented on #16
I finally gave in and created a Twitter user as well. Couldn't resist having some fun already: https://twitter.com/swkWien/status/960586615302303744
(Can use some followers...)
Anyone of you using Tweetdeck? Because then I could invite you as contributors, so you can tweet under this user tag as well. Otherwise I'll simply retweet session advertisements.

Furthermore, the homepage has been updated

[2018-02-05 20:51] mlem commented on #16
I'm open to new formats. Since the focus of each meeting should be to
enrich people in their wisdom and skill.

I would like to create discussiongroups, offline. It helps to view
different perspectives on some topics.
Someone prepares a topic, maybe even a real issue he is having with a topic
at work or private. Or a topic about a principle.

Secondly I would like a regular meetup, lets say at the

[2018-02-05 20:55] mlem commented on #38
I see those sessions as documents. And in my opinion, we shouldn't change
the namin in there. Just put a "formerly known as CodingDojoVie" at the top
of the readme and it should be ok

Am 05.02.2018 19:38 schrieb "Christian Haas" <notifications@github.com>:

[2018-02-05 21:58] duffleit commented on #16
_My two cents:_
* I really enjoy and like the dojos as they are. There are already a lot of meetups with abstract and high-level discussions on software concepts/design/etc in Vienna, thus the USP of this format is IMHO that it's hands-on and completely practice-oriented. I would prefer a fixed date (for example, every first Tuesday of the month like @mlem mentioned), just for these PODOJOS (plain

[2018-02-06 06:34] dertseha commented on #38
I still want to collect the presentation slides in this repository. And I also don't want to change the name (titles) that the previous ones had, which is also why I want to localize the reveal.js.
This is essentially the archive of our progress and all I want now is to make it more presentable and self-contained while also prepared for future extension.

[2018-02-06 16:27] dertseha commented on #16
Enriching people in wisdom and skill, that's a good entry to what our focus should be. I've had some ideas how to formulate what we want to provide (and what we won't). Showcasing a certain technology for instance (like the 20th web-server framework) leans more towards one of the dozens technology focused groups. Showcasing a new refactoring technique, or an automation tool, sounds more suitable f

[2018-02-06 20:31] codecop commented on #38
thank you @dertseha for investing the work here. #springcleaning ;-)
I am curious if we manage to get the missing sessions somehow.

[2018-02-06 20:52] codecop commented on #16
I agree that the hands-on make the difference to other groups. Also the small but repeating visitors make a difference. we do not need 100 members that never show up.

* Meetup - I believe it is done by whom who does the work. @duffleit if you want the dojos on meetup, create a group, pay for it and make it happen. I did not step in for Sebastian when he gave up his professional sw dev group becau

[2018-02-07 17:27] dertseha commented on #38
Stuff successfully moved around. repository looks way cleaner now :)
And I also missed the spot to reference this issue in the merge. oh well.

The only functionality that was "lost" is the self-serving capability, that probably no one knew about. I myself even forgot about this - it required node & grunt running on the local machine to start a web-server. Yet, simply opening the .html file in the

[2018-02-07 17:27] #38 closed

[2018-02-14 09:58] dertseha commented on #36
@ernst-fastl are you setting up the ads today - for the dojo next week?

[2018-02-14 15:35] ernst-fastl commented on #36
done - btw I am using Tweetdeck (although I am a rookie)

[2018-02-14 16:08] dertseha commented on #36
Great, thank you. Tweet sent.
I've also invited you, Ernst, as a member of the SWK Twitter team. As such (using Tweetdeck), you can tweet as this user, including likes and retweets. Tweetdeck will always ask you for such operations as which user(s) you want to do that.
My recommendation: Set for your SWK membership the "require confirmation for tweet" option. This way you need to tick an extra che

[2018-02-18 18:08] codecop opened #39 "Free/Community Training"
I like to run a community training some day. Opposite to Coding Dojo or Coderetreat it will be hands-on training. My main idea is to encourage people to show up and join, esp, people we have not seen in the practice related events so far. I have several motivations here

1. test run a customer training (or reuse one after the fact)
1. meet new people not showing up so far
1. deepen my own understa

[2018-02-18 18:26] dertseha commented on #39
Interesting topic. I'll let that sink in for me to come up with topics.

As for venue/timing, here some immediate ideas and subjective comments:
* There are some co-working spaces that could use more audience. There's one on Gumpendorfer Str. for instance that I always see empty when passing it. Seems perfect for something like this.
* Timing will never be right for all. My proposal: Either Saturd

[2018-03-07 06:29] xbojch commented on #36
I’m planning a dojo on 27th of March. Will probably prepare a refactoring or covering with tests kata. Open for suggestions.

[2018-03-07 08:25] paulroho commented on #36
Cool, @xbojch! "Covering with tests kata" triggers my interest.

[2018-03-07 13:03] codecop commented on #36
Yes me too. I am looking for katas to add test cases other than Gilded Rose, which is awesome for this. still...

[2018-03-09 06:21] dertseha commented on #36
@xbojch if you have settled on the main points (such as date, topic), please set up the appointment. The sooner we can get the ads out, the easier people can align their schedule to that.

[2018-03-09 06:23] xbojch commented on #36
Yes, 27th it is. I'll prepare the announcements today and then ask you to share.

[2018-03-09 21:31] codecop commented on #39
@swkWien/organiser any more ideas on this topic?

[2018-03-09 21:35] codecop commented on #38
@dertseha I seem to have lost ability to add members to the orga team?

[2018-03-09 21:37] codecop opened #40 "Coderetreat on November 17th (GDCR18)"
The date for GDCR has been announced.

[2018-03-09 21:42] codecop opened #41 "Repeating Hangout/Audio Recording Discussion about topics"
New year is full of old and new ideas. I would like to try creating a repeating podcast where we discuss some topic of coding, like SOLID or other topics, allowing guests and publishing the recording. @dertseha I hear you are big on audio equipment? @swkWien/organiser how do you like that idea?

[2018-03-10 06:57] dertseha commented on #38
This was not part of the reorganization, this was because GitHub changed how teams & access priviledges work. I don't follow their daily progress, so I don't know when this happened.
Role restored.

[2018-03-10 07:25] dertseha commented on #39
One topic, recent for me, sprung up. It may not (or rather: should not) be too high-level, because it's mainly only the training missing: Refactoring on a larger scale.
I'm not talking about extracting methods/types, no, I mean moving around content of entire namespaces, possibly splitting them up or joining them, reworking APIs and the like.

Such things seem difficult because I do them less ofte

[2018-03-10 08:00] dertseha commented on #41
For one I'm all abou this idea, as it is close to my idea of a youtube vlog of two people pairing over some code.

For the folloing points I am referring now to my sketchnotes from the "Podcasting" session from the last SoCraTesAT, hosted by the people from Donau Tech Radio (dtr.fm) :

* The most important thing about such a publication is: Be regular and consistent with your timing. People can wo

[2018-03-11 19:39] codecop commented on #39
Funny coincidence, I am currently working on a series of sessions towards large scale refactoring, What you mention is only one part, other parts are fixing coding conventions in large area at the same time, linked with static code analysis. I chose a sample project https://github.com/codecop/FreeMind-Fork-for-Training for a start. It is useful for some things, but probably not your scenario becau

[2018-03-11 19:40] codecop commented on #38
thx. I added Gregor running F# Coding Dojos but true to our spirit.

[2018-03-11 19:43] codecop commented on #41
Thank you for participating. I don't care for the equipment - was just teasing you. I agree content is king. I had no special content in mind, just discussing some interesting topics. Also I agree, topics should be the topics I would like to hear about. What would you like to hear about? (I am in a kind of topic fatigue right now, I can't say). On the other hand, me being me, I guess it would be a

[2018-03-11 22:15] xbojch commented on #36
https://www.softwerkskammer.org/activities/CodingDojoVie20180327

[2018-03-14 11:41] codecop commented on #41
@duffleit please contribute your ideas/questions we talked about during Voxxed Days

[2018-03-15 21:40] xbojch commented on #36
@codecop I was thinking about this kata from Sandro https://github.com/sandromancuso/trip-service-kata

The other idea was to collect common code smells and work backwards from refactoring recipes to create a sample code that smells bad and can be refactored nicely.

[2018-03-17 10:56] duffleit commented on #41
Sounds like a deja-vu. Had some similar idea a while ago, but couldn't find enough people doing this with me to provide a continuous stream of new episodes. As @dertseha mentioned already, I think the most important part in doing things like this is being regular. (same can be applied for blogging - obviously fail here terribly :D )

If I listen to podcasts I'm not so picky about the topic itself.

[2018-03-19 22:44] codecop commented on #36
@mlem yes please take April if you are ok/sure to run it. I have not prepared anything yet.

[2018-04-02 07:25] dertseha commented on #36
@xbojch please add your session to the repository
@mlem Can you already fix the date and topic for April? The earlier we can start advertising, the better.

[2018-04-02 08:28] dertseha commented on #41
Welp, the dojo came, passed, and nothing was discussed ;)

What could help is making one or two unaired pilots. i.e., simply meet up via some VoIP technology, and talk, timeboxed. This way we're less concerned about making it public, and focus more on our own interaction and content. Afterwards we can decide whether this could be something worth repeating and publishing.

As for the content: I don

[2018-04-04 12:58] paulroho commented on #41
I very much like the idea of a podcast (since I am just another guy thinking about doing one for myself for years now).
And while I can relate to many of the thoughts brought up above, I would strongly advocate for a more lightweight and test driven approach:
* Schedule a 4+ hours meeting with everyone interested
* Make sure some basic audio equipment is in place. No fancy stuff needed here, maybe

[2018-04-04 15:36] dertseha commented on #41
...sounds like a "stop starting and start finishing" :P
Thank you, Paul

[2018-04-10 19:40] mlem commented on #36
Hi Christian,

can you help me setup the Coding Dojo for 26.04.2018?
I will do a special dojo, where I want to show and use docker to do a small
microservice setup.
I don't know yet, if I should do the first session as a show case or let
everyone do the exercise right away.
I can decide at hand based on the experience of the group.

We will do a special dojo where we do a small microservice setup

[2018-04-10 20:31] codecop commented on #36
Martin, I like that you always have novel ideas. Unfortunately I am not in Austria at that time.

Maybe you can find an intro exercise that just verifies the Docker setup for the participants. That would be 1. super small Intro to Docker + verify setup. Second session could work on top of that. Alternatively you might provide step 1 on Github for people to clone if their step 1 does not work.

[2018-04-12 08:18] mlem commented on #36
Hi christian,

I already did everything, can you just assist me with the newsletter and
promotion?

https://www.softwerkskammer.org/activities/CodingDojoVie20180426

Cheers,
Martin

Christian Haas <notifications@github.com> schrieb am Mi., 11. Apr. 2018,
07:19:

[2018-04-12 18:52] dertseha commented on #36
done.
https://twitter.com/swkWien/status/984503910986584064

[2018-04-25 15:42] mlem commented on #36
Hi

@bojan I have a question for you. Can I take your presentation as a
template?
There are some nice starting slides, which I would like to use. Otherwise I
need to recreate them again.

Cheers, Martin

On Thu, Apr 12, 2018 at 8:52 PM, Christian Haas <notifications@github.com>
wrote:

--
Mlem

[2018-04-25 15:48] dertseha commented on #36
@mlem are you talking about these: https://swkwien.github.io/intro/
(which have been the same since day 1, years ago? ;) )
...apparently not as publicly known though...

[2018-04-25 15:54] xbojch commented on #36
Yes @mlem I also borrowed them from the intro presentation :)

Von meinem iPhone gesendet

[2018-04-25 15:57] mlem commented on #36
YEEEEESSSSS! I didn't know that. Great thx

Bojan Bedrac <notifications@github.com> schrieb am Mi., 25. Apr. 2018,
17:54:

[2018-05-03 19:42] codecop commented on #36
I would like to test-run a new topic (constraint targeting temporal coupling) but I have no time slot and not location...

[2018-05-03 19:45] dertseha commented on #36
@codecop What do you mean with "no time slot"? (Location is easily fixed, there have been several offers, and at FRQ also easily possible)
Are you not free in the available months?

[2018-05-06 08:11] dertseha commented on #36
I've just picked July & August at FRQ. @codecop do you want to facilitate one of them?

[2018-05-06 08:16] codecop commented on #36
Yes I would like. FRQ suits me well. Maybe we run it together.

[2018-05-06 13:51] mlem commented on #36
I thought I would do July :(

Peter Kofler <notifications@github.com> schrieb am So., 6. Mai 2018, 10:16:

[2018-05-06 16:56] dertseha commented on #36
Ah, right - the main post wasn't updated (you should have rights ?).

I've put you, @mlem , up then for July.
So, @codecop, if you still want to do it at FRQ, the earliest would be August :)

[2018-05-06 18:44] codecop commented on #36
Hm, maybe I am a rebel and just have another one in May. Before we discuss who is allowed to host when, maybe it is time for biweekly Coding Dojo again?

[2018-05-07 10:15] gerykiss86 commented on #41
How about next week, to do this `4+ hours meeting` at ~17:00? @dertseha @paulroho @codecop and everyone else who is interested?

:one: Tuesday (15.2, 17:00)
:two: Wednesday (16.2, 17:00)
:three: Thursday (17.2, 17:00)
:four: Friday (18.2, 17:00)

[2018-05-07 15:39] dertseha commented on #41
Thank you for the next initiative :)
I have time only on Tuesday (We-Fr is conference), yet I am offering a conference room for this (including USB conference microphone) at FRQ.

[2018-05-11 05:03] dertseha commented on #41
@codecop will you make it on Tuesday?
I'd like to know whether I should be reserving a room - If there's no other proposal - You're the one that started this, so I think you should be present :).

[2018-05-11 15:46] dertseha commented on #41
Peter sent me a message that he has no time for the whole week.
New proposal, @duffleit  - or do you want to make one, @codecop ?

[2018-05-13 09:15] duffleit commented on #41
The more opinions and inputs the better. How about Tuesday the 22th?

[2018-05-13 16:52] dertseha commented on #41
Also: Is it necessary to be together in person (for the prototype), or would an online meeting suffice? Wouldn't even have to be with cameras.

I know that a this option strips away some basic conversation tools (body language and so forth), though, if we can't even agree on a (physical) meeting for the prototype, how would we ever get a _regular_ schedule in place?

[2018-05-13 20:07] paulroho commented on #41
@dertseha, I agree with you regarding the regular issues of the podcast. But for the kick off I would **strongly** vote for a face-to-face meeting. It's unparalleled bandwidth.

[2018-05-13 22:09] codecop commented on #41
thank you for trying to keep me in the loop. This May is crazy unfortunately

[2018-05-15 04:39] dertseha commented on #36
(I have no idea how well this looks in a notification email, bear with me)

[Brothers and sisters](https://getyarn.io/yarn-clip/9d6423d7-c471-4a0a-a021-84aadfac091a), [today is the 15th of May](https://getyarn.io/yarn-clip/3c71e0bf-566e-451e-95f6-c0ba1d169ce5). [The first day of the planetary alignment](https://getyarn.io/yarn-clip/251f2389-4104-4415-b932-b58d06f56072) [and we are still no nearer

[2018-05-23 15:40] ernst-fastl commented on #36
Hi guys,

I am very sorry but I am insanely busy at the moment and won't be able to prepare and facilitate a Dojo in May. We can provide the location if that helps.

cheers Ernst

[2018-05-23 19:31] xbojch commented on #36
I can move it to second half of June. I’m on vacation end of June.

Von meinem iPhone gesendet

[2018-05-23 19:44] codecop commented on #36
I will jump in and run May Dojo 5th of June.
I will check potential location in Markhof. If it does not work out, I will make use of location sIT then.
Invites will go out next monday.

[2018-05-24 14:49] xbojch commented on #36
The only two possible dates for me in second part of June are Monday 18th, Tuesday 19th or Thursday 21st. What do you think, too close to 5th?

[2018-05-24 21:00] codecop commented on #36
I am very sad if monthly Dojo is skipped, like it happened in January. The current workload for us facilitators is so small that we rather forget to run it. Maybe @dertseha can do June and you @xbojch do July? Two weeks seems quite near. On the other hand. it does not matter, because we always have changing days, weeks and such for the Dojos.

[2018-05-25 17:21] duffleit commented on #41
@codecop, could you come up with some proposal for june?

[2018-05-28 18:58] xbojch commented on #36
Will spread the word. Thanks @codecop for jumping in! I can run it July, on vacation end of June. Does that work for you @dertseha?

Von meinem iPhone gesendet

[2018-06-06 17:23] dertseha commented on #36
Feels like we're now trying to run behind and squeeze an "extra" dojo in now :)
Martin already wants to do one in July.
So, please go ahead and do one on June, 18th (or 19th), @xbojch

[2018-06-06 18:05] codecop commented on #40
FYI @swkWien/organiser Techtalk has invited JB Rainsberger to run the GDCR18 in Vienna. Exciting times...

[2018-06-06 18:06] codecop commented on #41
As discussed with Paul, please go ahead without me for now. I will support everything that is created/decided.

[2018-06-07 11:30] xbojch commented on #36
Looks like 18th is the date. I'll prepare the messaging today (company event afterwork :beers: :bowling: ) or latest tomorrow and then ask you to spread the word.

[2018-06-07 12:52] duffleit commented on #41
Ok, how about Tuesday the 19th at about 18h @dertseha and @paulroho ? Can you still manage to get a room for us @dertseha ?

[2018-06-07 17:12] paulroho commented on #41
Cool, is fine for me.

[2018-06-07 20:44] dertseha commented on #41
19th is OK for me. Yes, I should be able to provide a meeting room.
Two guests then, @duffleit and @paulroho , from 6pm. I hope though that we finish at around 9pm latest (contrary to the initial pitch of 4h+ from you, Paul...) .

[2018-06-07 21:28] paulroho commented on #41
Cooly mooly, so be it!
#awesomized

[2018-06-07 22:27] xbojch commented on #36
Here are the links:
https://www.softwerkskammer.org/activities/CodingDojoVie20180618
https://doodle.com/poll/34ydue6kkbptitgc

Please join us and spread the word.

[2018-06-09 12:12] dertseha commented on #41
I've registered you two as guests, to arrive at around 6pm. Room is reserved as well.
@duffleit you know where FRQ is / how to get there?

[2018-06-09 12:13] dertseha commented on #40
Invited? Or also secured? ;)
Interesting feat. I take it it'll be combined with some talk(s) around that time with him as well.

[2018-06-09 14:44] paulroho commented on #40
Secured (with a tiny theoretical gotcha).
And yes, you're right:
https://techtalk.at/trainings/agile-design-beyond-the-basics/
http://agiletourvienna.at/

[2018-06-09 20:43] mlem commented on #40
That's awesome. Looking forward to it

Paul Rohorzka <notifications@github.com> schrieb am Sa., 9. Juni 2018,
16:44:

[2018-06-19 20:11] dertseha commented on #41
I'm about to distribute the pilot recording (not meant for publication) together with the notes with direct messages.

General definitions:
* We set out to do this once per month, for one year (= 12 recordings)
* Audience: For people who work on/with code.
* Language: English
* Scope (topics): loosely related to "Building software right", crafting, TDD, ... Guided by agile manifesto (we value X ov

[2018-07-10 20:12] dertseha commented on #36
@mlem We're well into July - any idea when you want to run the dojo?

[2018-07-10 20:58] mlem commented on #36
Hey,

it's on my todos for this week. If we take into consideration that it
should be two weeks in advance, it will be in 2 weeks.

I will post details this week.

Cheers,
Martin

Christian Haas <notifications@github.com> schrieb am Di., 10. Juli 2018,
22:12:

[2018-07-17 11:41] mlem commented on #36
please make some noise for https://www.softwerkskammer.org/activities/CodingDojoVie20180726

[2018-07-17 12:38] codecop commented on #36
I sent the invite email.

[2018-07-18 10:55] codecop commented on #36
Tweet tweeted

[2018-07-18 16:37] mlem commented on #36
Thank you for your promotion

Peter Kofler <notifications@github.com> schrieb am Mi., 18. Juli 2018,
12:55:

[2018-08-13 20:28] dertseha commented on #41
Can be closed. Podcast available here: https://developermelange.github.io/

Although the podcast about software engineering and building great products would fit into the spirit of Softwerkskammer, it was deemed not to be published under its banner, because, quoting, "SWK Wien is just Coding Dojos".

[2018-08-13 20:28] #41 closed

[2018-08-13 21:04] dertseha commented on #36
August date set and invitations sent via SWK and Twitter:
https://twitter.com/swkWien/status/1029106598336229376

[2018-08-30 19:03] mlem commented on #36
Then I will take December

Christian Haas <notifications@github.com> schrieb am Do., 30. Aug. 2018,
20:20:

[2018-09-12 11:06] ernst-fastl commented on #36
The september Dojo at s IT will happen on Tuesday September 25th. Unfortunatly I don't have the time to facilitate it myself. But Yare, one of my employees has offerd to jump in under @codecop s supervision.

[2018-09-12 19:16] codecop commented on #36
Yesss. Invitation email has been sent!

[2018-09-19 19:20] slow-and-furious commented on #36
Great thanks to @ernst-fastl and @codecop for announcing the new session!
Could someone pls merge the pull request with my presentation?

My main man Peter has already created the corresponding SWK event: https://www.softwerkskammer.org/activities/CodingDojoVie20180925
...and the doodle: https://doodle.com/poll/8m4u7pvkhz992nm7

[2018-10-01 07:46] dertseha commented on #36
I've picked October for myself now. Most likely I'll pick a date from week 42.

[2018-10-15 19:59] dertseha commented on #36
22nd of October has been set.
SWK Link: https://www.softwerkskammer.org/activities/CodingDojoVie20181022
Tweet: https://twitter.com/swkWien/status/1051925027535421441

[2018-10-15 20:14] dertseha commented on #16
I'd like to finally close this issue.

It seems SWK Wien is more of an incubator of things, rather than a collective of things. The one thing incubated, for instance, is the [podcast](https://developermelange.github.io/). Another thing could be (sometime in the future), Peter's idea in #39 .
We did survive the re-branding, and the one stable event is the coding dojo & perhaps the Global Day of Cod

[2018-10-15 20:14] #16 closed

[2018-10-15 20:16] dertseha commented on #40
GDCR in Vienna is run exclusively by TechTalk - Do we need this issue here open?

[2018-10-15 20:30] codecop commented on #40
It is run by JB and me, hosted by TechTalk that is true. And yes, at the moment I do not see any work that needs that ticket. Still it is our Coderetreat.

[2018-10-15 20:33] dertseha commented on #40
Right, sorry, I forgot about that constellation. Carry on :)

[2018-10-27 15:59] codecop commented on #40
After questions during last coding dojo, I asked Paul about making seats available ... pending

[2018-10-27 17:49] paulroho commented on #40
Expecting further information on Monday.

[2018-10-31 20:40] dertseha commented on #40
..which Monday? ;)

[2018-11-02 21:18] paulroho commented on #40
Sorry for the late reply. This is the current state:

We found an opportunity in the office building for a place with more space than in our meeting room. That would provide space for about 40 people, I guess. I'll keep you updated as soon as I know more. I expect this opportunity to work out, as we are out of additional meeting room space in our current office.

FYI, there are currently 4 people

[2018-11-03 08:17] codecop commented on #40
if we get a larger venue, we need to make more fuzz about the event - to use the larger venue

[2018-11-06 12:49] paulroho commented on #40
Two tweets for retweeting:

- https://twitter.com/paulroho/status/1059786562542682112
- https://twitter.com/techtalks/status/1059789278685917184

[2018-11-06 20:59] codecop commented on #40
thank you

[2018-11-18 19:14] #40 closed

[2018-11-18 19:42] codecop opened #46 "Moar Coderetreats (Zero Overhead Coderetreats)"
As I said in the end of GDCR18 (#40) I would like to attend more Coderetreats. And who would not? ;-) Which means I have to make more of them. Here are my ideas for a format that is maybe more sustainable and which I would like to discuss with you to do so:

**Must be minimal to no overhead for us as organizers**
* small group, 6 to 10 ppl max, =
    * 6 to 8 regular/repeating dojo or CR guests, +

[2018-11-19 07:14] paulroho commented on #46
Peter, I love your proposal.
It would be way easier for me to attend during the work week than on a Saturday, esp. if we plan ahead for a longer period.

[2018-11-19 17:56] dertseha commented on #46
Thank you for your proposal.
I'm commenting here to mark that I have read it and will think about it - yet I don't have an immediate, streamlined answer.
Various thoughts that come up at the moment are conflicting and deal more with my own situation rather than your idea.

[2018-11-20 07:09] mlem commented on #46
I'm not sure we would fill the slots if we do it every 3 months. I'm
suggesting to meet to discuss this issue. I will organize a coding dojo
next month. Either than or a seperate meeting? I understand that not
everybody has enough time to meet, but it's easier for me to communicate
directly in person with you all. Tell me what you think about this.

Cheers, Martin

Am Mo., 19. Nov. 2018, 18:56 hat

[2018-11-20 09:56] xbojch commented on #46
I like the idea. A coding dojo is sometimes just enough to get started. Not sure how many I could attend in this or the following year. However I am sure that LRT would be glad to provide a room for up to 20 participants.

Von meinem iPhone gesendet

[2018-11-21 16:16] dertseha commented on #46
Addendum: Having said all of that, this is more of a consumer-view. If, however, I already have some things that others would like to know about, then we'd have a provider-view - and I'm always happy to tell/teach others (willing to listen) about stuff.

[2018-11-21 23:33] codecop commented on #46
@dertseha I guess you can always bring Go to the table, and C++ of course.

@goerge volunteered to run the first instance, in 4 weeks, last week before Xmas (17 to 25th Dec)
We still discuss the day of the week. During week is easier for some ppl. Rooms are easier to get on Saturday.

[2018-11-23 18:45] mlem commented on #46
I was planing to do a dojo in December. Should I plan for 10th Dec? Or is
it ok if we focus on this coderetreat, and I'll do the dojo in January

Am Do., 22. Nov. 2018, 00:34 hat Peter Kofler <notifications@github.com>
geschrieben:

[2018-11-29 11:20] mlem commented on #36
Please make some noise:
https://twitter.com/martin_lemanski/status/1068101822383104000
https://doodle.com/poll/ckcx3w36y7aphv7r
https://www.softwerkskammer.org/activities/CodingDojoVie20181213

[2018-12-09 08:55] codecop opened #47 "Coding Dojos 2019"
The Coding Dojo is a two hour practice session. It is run during the week in the evening after work. It is held on different days and announced one week in advance approx. every second month.

Month, Who @ Where (when) [- what]
Jan, Roland/Peter @ Nagarro (29.01.2019) - Dependency Breaking Techniques
Apr, Claus @ willhaben (15.04.2019)
June, Christian @ Zühlke (12.06.2019)
July, Bojan @ LinkResear

[2018-12-09 09:07] codecop opened #48 "Coderetreats 2019"
The Coderetreat is a full day practice event. It is run on the third Saturdays every second month. We run small Coderetreats as discussed in #46

Month - Where
(Jan) 19.1.2019 - Software Craftsmen (Goerge)
(Mar) 16.3.2019 - Telekurier Online Medien GmbH  (Adam)
(May) 25.5.2019 - Frequentis (Christian)
(July) 20.7.2019 - Ebcont (Gregor Riegler)
(Sept) 21.9.2019 - Software Craftsmen (Goerge)
(Nov) 1

[2018-12-09 09:13] codecop commented on #46
After discussing with @dertseha I decided for a schedule of every third Saturday every second month. So the days are known long time in advance. I stayed with Saturday because it is easier to get a room for us then. We might shorten the CR to 5 sessions if needed, we will see.

I created a session ticket, see #48 to manage them.

[2018-12-09 09:19] codecop commented on #48
@swkWien/organiser and @swkWien/friends we plan a Coderetreat for Sat. 19th Jan 2019. It will be a small CR (max 10 participants, no sponsor, no free lunch, no facilitator).

1. We need a room/venue for that. @goerge or @rolger can you help?

2. who will come?

[2018-12-11 14:34] caichinger commented on #48
It may (at times) be possible to use the office I work in but cannot say for sure yet; I will give an update once I know more.

Who is allowed to? Sounds for sure good to me.

[2018-12-11 14:35] goerge commented on #48
@codecop Yes, I can offer a meeting room with space for 5 pairs and a big screen. Room, coffee and mate will be sponsored by Software Craftsmen. Location is next to Mariahilfer so there're enough opportunities for lunch.

[2018-12-15 10:42] codecop commented on #48
@swkWien/organiser and @swkWien/friends please register here https://www.softwerkskammer.org/activities/Coderetreat20190119 (follow link to doodle) if you will come.

[2019-01-02 05:32] paulroho commented on #47
Happy New Coding Dojo Year to all of you!

January topic sounds great. @rolgerm, any news for the exact date?

[2019-01-02 08:03] caichinger commented on #47
@paulroho https://www.softwerkskammer.org/activities/CodingDojoVie20190129 (there was a mail on 2018-12-15 in case you need it)

[2019-01-05 11:59] caichinger opened #49 "Software Craftsmanship (Mini)Track at Linuxwochen Wien"
Beginning of May 2019, [Linuxwochen Wien](https://linuxwochen.at/) (LWW) will take place.
LWW is a free, community-organized conference and considers itself as an umbrella event for *anything* related to open source/tech/software in general. The atmosphere is very relaxed, the event takes place from Thursday (2019-05-02) to Saturday (2019-05-04).
In the past, I have collaborated with the organizer

[2019-01-05 12:14] paulroho commented on #49
Claus, I really like that idea!
What would it take to get that going?

[2019-01-05 12:55] caichinger commented on #49
Glad to hear that!

A commitment that *something* will take place in which case I would get in touch with LWW to tell them we are working on this *something* and ask for their support.
- Minimum version: 3 talks submitted by us and we ask LWW to schedule them in a row.
- Maximum version: announcements about a dedicated Software Craftsmanship track at LWW; talks & workshops submitted by whoever fee

[2019-01-07 09:35] codecop commented on #49
Hard choices then: Python Workshop or TDD/Clean Code Workshop ;-)

[2019-01-20 06:19] codecop commented on #48
Yesterday was so much fun - so after the Coderetreat is before the Coderetreat ;-) The next CR will be Sat. 16.3.2019. Who will organize/host this? Organisation means only: 1. providing a room and 2. setting up the doodle and 3. being there in the morning. @xbojch @caichinger @maosmurf - you mentioned you could host us?

[2019-01-20 15:39] caichinger commented on #48
I still hope to be able to provide a room but at the moment I am sorry to say that it does not look likely - do not count on me.

[2019-01-20 15:41] xbojch commented on #48
Glad to hear it was a success.
I’ll check the dates tomorrow, but generally Saturdays shouldn’t be a problem.

[2019-01-25 16:58] xbojch commented on #48
Sorry for the delay @codecop. I'll have an answer on Monday.

[2019-01-28 21:43] xbojch commented on #48
Sorry for another delay. I'll have a confirmation on Friday or next Monday.

[2019-02-11 09:29] codecop commented on #48
Hi all, only one month left until the next CR. Who can help us with hosting? Maybe @xbojch @caichinger @maosmurf @rolger @paulroho @mlem @dertseha ? Please someone ...

[2019-02-11 09:52] xbojch commented on #48
Sorry for the delay, will ask again today.

Von meinem iPhone gesendet

[2019-02-11 11:56] maosmurf commented on #48
Hi, would love to host next CR, room is already reserved.

[2019-02-14 11:17] codecop commented on #47
Hi @swkWien/organiser we have not scheduled a Coding Dojo for February yet. Who is going to run it?

[2019-02-19 20:49] codecop commented on #47
Ping @caichinger @xbojch @mlem

[2019-02-20 08:24] xbojch commented on #47
Sorry, can’t organize a dojo this month.

Von meinem iPhone gesendet

[2019-02-20 12:26] caichinger commented on #47
Me neither, conference is keeping me busy atm. (I will however take March or April, updates to follow)

[2019-02-25 18:41] caichinger commented on #48
Unfortunately I can only confirm that a CR cannot take place at the company I work at.

[2019-02-25 19:02] caichinger commented on #47
I will facilitate the April dojo on Tuesday, 2019-04-16 if someone provides a venue.

[2019-02-25 21:05] duffleit commented on #47
I wrote a couple of emails and also shared it on twitter:
https://twitter.com/duffleit/status/1100139478113501185 - should not be
choked off by a missing venue! :)
On Mon 25. Feb 2019 at 20:02, caichinger <notifications@github.com> wrote:

[2019-02-26 09:59] mlem commented on #47
@caichinger
Hey Claus,

I will take care of the venue for you.
I will need the participant numbers to pick the right room for the coding
dojo.
Happy you are doing this.
Do you need help from @codecop in facilitating?

David Leitner <notifications@github.com> schrieb am Mo., 25. Feb. 2019,
22:05:

[2019-02-26 22:26] caichinger commented on #47
Thank you @mlem for providing a venue! Let's see if I need help, still have to make up my mind about the topic.

Just to make sure there are no misunderstandings, I will do the dojo in **April** - there have been no affirmative responses for February so far.

[2019-03-16 16:58] codecop commented on #48
@xbojch what about May

[2019-03-17 19:40] xbojch commented on #48
I‘m not here on the date proposed for May. Is the date flexible? Or someone else in our company would have to host it, but I don‘t want to pass that responsibility.

[2019-03-22 09:27] caichinger commented on #47
I am currently in touch with @mlem for a dojo to take place on one of the following dates in April

- Wedneyday, 3. (may almost count as a March dojo as well ;)
- Thursday, 4.
- Monday, 8.
- Monday, 15.

if some you already know that one of these dates is a bad idea, please let me know.

[2019-03-22 09:28] caichinger commented on #49
*pinging* here as CfP closes on Monday. Just in case :-)

[2019-03-22 16:24] paulroho commented on #49
@caichinger thanks for the head up. I have to confess, that currently I have no resources whatsoever for this.

[2019-03-26 11:37] caichinger commented on #47
**Monday, 15.04.2019** is it. @mlem will host us at willhaben.at, thank you!

[2019-03-26 21:08] codecop commented on #47
I created the SWK event, Doodle and sent email to all SWK members.

[2019-04-02 17:11] codecop commented on #48
Thank you @dertseha - registration for May Coderetreat is open: https://www.softwerkskammer.org/activities/Coderetreat20190525

[2019-05-21 15:07] dertseha commented on #47
I negotiated a Coding Dojo at Zühlke on the 12th of June, with me as facilitator.

[2019-05-24 09:47] xbojch commented on #47
I'd like to run a Coding Dojo in July (week July 22nd-26th).
Any preference on the day of the week?

[2019-05-24 10:36] #49 closed

[2019-05-24 10:37] codecop commented on #48
@swkWien/friends and @swkWien/organiser  There are still free spots for #coderetreat #vienna tomorrow. Take this opportunity to learn and practice in a safe space. https://www.softwerkskammer.org/activities/Coderetreat20190525

[2019-05-27 19:58] dertseha commented on #47
I don't think that it is too close to the coderetreat - the two formats offer different options for interested people.
No preferences for a day from my side :) (although, I wouldn't be able to join on 24th)

[2019-06-04 21:41] codecop opened #50 "Coderetreat on November 15th AND 16th (GDCR19)"
This year GDCR is scheduled for two days because it is 10th anniversary. I plan to have CR on both days. I had discussion with potential guest facilitators and it looks promising that we could have different guests on Friday and Saturday. Which would be awesome.

I need hosting companies and someone helping with the event setup, registration, etc. Who is up to that? As we have two CRs, we can sett

[2019-06-05 16:47] dertseha commented on #50
Two in a row, this will be fun to handle...
Right now I have some things to clarify, I will come back to this in a few days (weeks) on how much I can contribute.

[2019-06-05 16:56] caichinger commented on #50
If I can contribute, you can count me in.

[2019-06-25 06:33] codecop commented on #48
Hello crafters. Anybody up to host and run the July code retreat or should we have a summer break?

[2019-07-01 10:18] codecop commented on #47
@xbojch could you please announce the dojo in the Softwerkskammer platform already? People asked me if there will be a dojo in July...

[2019-07-01 10:25] maosmurf commented on #48
I could host a July-CR on Fri 19th and/or Sat 20th.

[2019-07-01 11:01] xbojch commented on #47
Yes, I have a date fixed already. Will prepare the announcement today.

Von meinem iPhone gesendet

[2019-07-01 12:18] mlem commented on #50
I've asked at my company.
There are some things I need to clarify.

- how many people will participate per day?
- Who is the audience for this retreat? People from Vienna?
- How many guest-facilitators will be needed?

[2019-07-01 12:46] codecop commented on #50
@mlem

* number of people are limited by host. max would be 40, last years we had around 30something. Friday I would expect less people, let's say 20.
* Audience is people from Vienna. There are guests from time to time (from Graz or Bratislava) but usually Vienna.
* There will be a different guest facilitator for each day. Different days - different hosts. Paul/Techtalk are maybe hosting, also Ch

[2019-07-01 19:30] codecop commented on #48
Thank you @maosmurf , @gregorriegler provides us with a place and lunch this time. Thank you for hosting us again in the future

[2019-07-01 19:39] codecop commented on #48
@swkWien/organiser and @swkWien/friends the next Coderetreat is set: See https://www.softwerkskammer.org/activities/Coderetreat20190720 (20th July) Hope to see you despite potential heat.

[2019-07-01 19:40] codecop commented on #46
This seems to run for now. Closing

[2019-07-01 19:40] #46 closed

[2019-07-01 20:29] caichinger commented on #50
I just want to reiterate that you can reach out to me if there is anything (apart from organizing a venue) I can help you with (small, big, abstract, specific, yet unknown - whatever). Please do not hesitate.

In any case thank you for getting this rolling!

[2019-07-02 04:58] xbojch commented on #47
Prepared the announcements. Please make some noise.

https://www.softwerkskammer.org/activities/CodingDojoVie20190725
https://doodle.com/poll/5nbnpm6kbevezqcc

[2019-07-02 09:26] goerge commented on #50
Klaus Unger just proposed HTL Spengergasse as a venue for Saturday. @codecop interested?

[2019-07-02 12:32] codecop commented on #50
@goerge I am concerned if htl is a good venue for global day. I propose a regular cr instead to try first, e.g. the September one to be there. Also I can run one on any Friday for the school if that helps.

[2019-07-06 09:21] dertseha commented on #50
How sure are the hosting candidates so far (Willhaben, TechTalk)? Shall I ask at Zühlke as well?

[2019-07-06 09:23] paulroho commented on #50
TechTalk has confirmed to be very happy hosting one day this year again.

[2019-07-06 09:24] dertseha commented on #50
OK, is it now a race of who does the second day, or is this already finalized? @mlem  ?

[2019-07-06 09:25] dertseha commented on #50
Also "has confirmed to be very happy hosting" does not imply "has confirmed to BE hosting" - just to be sure :)

[2019-07-06 09:29] dertseha commented on #47
Tweet is out: https://twitter.com/swkWien/status/1147437274268917760

[2019-07-06 09:30] paulroho commented on #50
We would probably not be hosting in case there are be concurrent offers in Vienna. So we *offer* to host again. But we won't compete in case some else in Vienna does the event on the same day. The pool of potential participants is not endless.

[2019-07-06 09:31] dertseha commented on #50
OK, thank you for clarifying. I'll then ask whether a company new to coderetreats wants to.

[2019-07-06 11:31] codecop commented on #50
Thank you @paulroho . I assume hosting also means sponsoring the invited facilitator like the previous years? Also because the venue is good, I would propose TechTalk getting the probably larger Saturday event.
@dertseha thank you your employer. Willhaben has not confirmed yet. We also need around 500 EUR travel cost for invited facilitator (different person for each day - 2 facilitators already a

[2019-07-07 05:42] paulroho commented on #50
Yes, our commitment goes as in the previous years.
BTW, pinging @raoulholzer and @danielthecoder as co-organizer at TechTalk to join the conversation.

[2019-07-26 15:34] dertseha commented on #50
Is the host fixed already for Saturday, @paulroho ? Because today I received word that Z is "preferring" to host on Saturday. Whether they would be open to change I couldn't read from the mail, so I assume they want to host on Saturday.

[2019-07-27 07:10] codecop commented on #50
Techtalk onis fixed. Organisation and facilitator mails etc already started.

Thank you for supporting/ trying to get it going

[2019-08-01 06:17] goerge commented on #48
Software Craftsmen is happy to host the next Small Coderetreat on 21st of September for up to 8 crafters.

[2019-08-05 16:06] dertseha commented on #50
All right, today I received confirmation that Z wants to host on Friday 15th.
They'll also cover lunch. Whether it is catering or delivery will be decided based on registrations.

[2019-08-05 16:07] dertseha commented on #50
As for facilitators: Do we have some numbers what they would cost?
I am considering to help out on that - to a certain limit.

[2019-08-06 07:36] codecop commented on #50
@dertseha awesome thank you. I would expect 300 to 500 EUR for flight and one night in hotel. First let's see if @mlem can help? Else we can collect and split the cost.

[2019-08-08 18:52] mlem commented on #50
Does that mean no hosting for willhaben, but a mention as sponsor?
I can see about that

Peter Kofler <notifications@github.com> schrieb am Di., 6. Aug. 2019, 09:36:

[2019-08-08 18:52] mlem commented on #50
But you have to wait a bit, I'm on holidays

mlem <beo.xtc@gmail.com> schrieb am Do., 8. Aug. 2019, 20:51:

[2019-08-13 23:30] codecop commented on #48
Thank you @goerge - the event is set up: https://www.softwerkskammer.org/activities/Coderetreat20190921

[2019-08-14 04:52] goerge commented on #48
@codecop Thanks for setting it up!

[2019-09-10 12:46] rolger commented on #48
I wanted to join but I believe that the previous participant just forgot to
select the "I will join" check since he added his name (Ernst Fast) . If
his registration was a mistake I'll join otherwise I'm going to attend next
time.

Thanks for organizing this event :-)

Roland

On Wed, Aug 14, 2019 at 6:52 AM Görge Albrecht <notifications@github.com>
wrote:

[2019-09-10 15:43] goerge commented on #48
@rolger please join anyway. We have room for up to 10 people. I expect @codecop to come, too, right?

[2019-09-10 15:50] maosmurf commented on #48
Is there a waiting list? Or may I drop in anyways? Doodle says 8/8. ty

[2019-09-10 15:53] goerge commented on #48
@maosmurf Please add a comment to the Doodle. So everyone who already “joined” know, there is some pressure to really show up or remove the entry in advance.

[2019-09-10 16:30] ernst-fastl commented on #48
Hi @rolger , unfortunatly I can't make it because of an operation so you can definitly have my seat. That is why I unchecked the box. I erased my entry in the doodle now to avoid any further confusion.

have fun :-)

[2019-09-10 19:55] codecop commented on #48
Yes @goerge you are right

[2019-09-18 06:08] dertseha commented on #50
Events are registered and published:
SWK:
day 1: https://www.softwerkskammer.org/activities/gdcr19-vienna-1
day 2: https://www.softwerkskammer.org/activities/gdcr19-vienna-2
(including their Eventbrite events)

Twitter: https://twitter.com/swkWien/status/1174202804262621189

[2019-09-26 07:24] codecop commented on #47
Hi organisers. How about a coding dojo in October to shape up for GDCR ;-) Who is up to that? Maybe @mlem or @gregorriegler ? #theDojoMustLiveOn

[2019-09-26 07:27] codecop commented on #50
Now we need participants. @swkWien/organiser @swkWien/friends how could we promote the event? I like the energy of large crowd plus we have two events to fill up ;-)

[2019-09-26 07:37] caichinger commented on #50
For my part, I can easily promote the event in the larger Python community as well as in some diversity in tech groups.

I will happily do so but before sending out the notifications - does everybody *within* SWK already have a ticket?

I suggest we define a deadline and then make the announcements in a coordinated fashion.
Next Monday morning, i.e. 2019-10-01 08:00 onwards sounds good to me.

How

[2019-09-26 10:19] gregorriegler commented on #47
Sure @codecop ,
You want to co-host one with me at Oct, 30th 17:00-19:30

[2019-09-26 11:14] rolger commented on #50
I started already promoting it in my company and on Twitter.

It's a shame but I can't attend because I'm on vacation on this weekend.

Roland

caichinger <notifications@github.com> schrieb am Do., 26. Sep. 2019, 09:37:

[2019-09-26 12:46] codecop commented on #47
Possible for me. Why not earlier in Oct? Like 14th or 16th?

[2019-09-26 13:31] gregorriegler commented on #47
16th is ok for me. 17:00-19:30 then. i will quickly book the room

[2019-09-26 13:37] codecop commented on #47
Affirmative. Calender blocked

[2019-09-29 12:31] gregorriegler commented on #47
The upcoming Coding Dojo for Oct, 16th is setup.
https://www.softwerkskammer.org/activities/CodingDojoVie20191016

[2019-10-01 08:57] mlem commented on #47
Cool, thanks @Gregor Riegler and @codecop

[2019-10-04 05:47] dertseha commented on #47
@gregorriegler which repo is going to be used? I am asking because I might find time to add a Go variant.

[2019-10-04 07:11] gregorriegler commented on #47
@dertseha
i would use the kata from our retreat https://github.com/emilybache/Theatrical-Players-Refactoring-Kata
i think its brilliant as you first have to solve the split looping.

[2019-10-04 20:40] codecop commented on #47
@dertseha all solutions use Approval testing frameworks for test coverage. Is there an Approvals for Go?

[2019-10-05 06:09] dertseha commented on #47
A quick search brought up this: https://github.com/iafan/agenda
Although I hardly see the benefit for adding a framework for one test, it seems this is what the repo wants.

[2019-10-06 15:59] dertseha commented on #47
All right. Trying to make sense of all of this, I am already more confused.

According to the original page (https://approvaltests.com/), the idea is to compare "complex" objects, yet all it does, apparently, is to compare text from a file stored on disk, which follows the name of the test. After all, the kata compares the complete text output of the receipt.

The "agenda" library that I linked ma

[2019-10-06 16:27] dertseha commented on #47
....oookey. As it turns out, the library is broken due to not updated dependencies.
I'll do the simple approach for now and perhaps have a look at upgrading the test framework.

[2019-10-16 20:18] caichinger commented on #50
I have just reached out to a number of different communities, a few other announcements will follow in the coming days.

Let's see.

[2019-10-16 20:30] codecop commented on #50
@caichinger thank you. do you have contact with Jackie et al communities? I reached out to two of them but I do not know them good enough I guess...

[2019-10-16 21:21] caichinger commented on #50
Yes, I have written Jackie as well as others and suggested they also forward the invitation in their respective groups.

On 16 October 2019 22:30:27 CEST, Peter Kofler <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-11-20 21:25] dertseha commented on #50
Thank you all for making it happen!

[2019-11-20 21:25] #50 closed

[2019-11-20 21:26] dertseha commented on #47
OK, coderetreat is done for November.
Anyone up for a coding dojo in December?

[2019-11-20 21:26] dertseha commented on #48
@codecop , do you want to lead on the next year and create a ticket?

[2019-11-21 08:25] #48 closed

[2019-11-21 08:29] codecop opened #52 "Coderetreats 2020"
The Coderetreat is a full day practice event. It is run on the third Saturdays every second month. We run small Coderetreats as discussed in #46

Month - Where
(Jan) 18.1.2020 - ProSiebenSat.1 PULS 4 (Adam)
(Mar) 21.3.2020 - remote using Hangout and Zoom
(May) 16.5.2020 - remote using Hangout and Zoom
(July) 18.7.2020 GDMR20 -  see [Mob-Programming Meetup](https://www.meetup.com/de-DE/Mob-Programm

[2019-11-24 07:31] dertseha commented on #47
As I've now pitched an internal coding dojo at Z, it might be that I can arrange a co-operation.
If so, we would be able to run a public one on 16th of December. slight change from normal: would be from 5pm to 7pm .

[2019-11-24 07:37] dertseha commented on #52
@codecop  thank you for creating the new item. I've gone back and assigned to all related items the new "coderetreat" label (for the dojos I did so as well) - this way we don't have to add all the issue numbers every time.

[2019-11-24 08:59] caichinger commented on #47
If @dertseha's effort does not work out, I could play facilitator given that someone provides a venue. Possible dates from my side: 16.12. and 18.12.

[2019-11-24 16:44] codecop commented on #52
Next CR is Sat 18.1.2020. @gregorriegler @dertseha @goerge @maosmurf can you host us?

[2019-11-25 09:13] maosmurf commented on #52
would love to host CR on 1/18, will confirm by end of week

[2019-12-02 08:41] codecop commented on #52
ping @maosmurf

[2019-12-02 08:44] codecop commented on #47
@dertseha how are things with the dojo? will you announce it soon?

[2019-12-03 17:12] maosmurf commented on #52
@codecop should be OK, waiting for official confirmation (legal stuff, insurance...) by tomorrow.

[2019-12-04 17:09] dertseha commented on #47
Since last Monday didn't work out at Z, I'm retrying next week on 11th. It seems, Monday is not a good day to hold a retreat.
I'd like to hold out for combining Vienna for the first time to get a better hold on internal people first.

[2019-12-05 09:35] maosmurf commented on #52
@codecop official OK! :bowing_man:

[2019-12-05 09:37] duffleit commented on #52
We would be happy to host one in September or November 🙂 I‘ll come back to you in Q1 👍🏻

[2019-12-10 21:44] codecop commented on #52
CR in January https://www.softwerkskammer.org/activities/Coderetreat20200118

[2020-01-08 21:57] dertseha opened #53 "Coding Dojos 2020"
The Coding Dojo is a two hour practice session. It is run during the week in the evening after work. It is held on different days and announced one week in advance approx. every second month.

Month, Who @ Where (when) [- what]
Jan, @dertseha @ Zühlke (2020-01-22) - Bank OCR
Feb, @dertseha @ Frequentis (2020-02-19) - legacy (trivia)
Mar, @dertseha @ Zühlke (2020-03-04) - TDD basics (string calc)
~

[2020-01-08 21:57] dertseha commented on #47
2019 is done. Thank you everyone for helping!
2020 is tracked in #53

[2020-01-08 21:57] #47 closed

[2020-01-08 21:58] dertseha commented on #53
I didn't manage to run last December, so, hopes are up for me to get something for January going.

[2020-01-13 18:38] dertseha commented on #53
And we have a date: http://www.softwerkskammer.org/activities/CodingDojoVie20200122

[2020-01-25 08:01] dertseha commented on #53
I've secured (well, I was asked) to run a Dojo at Frequentis in February. I'll create the entry beginning of February, as I am toying with the idea to add yet another at Zühlke...

[2020-02-04 21:40] codecop commented on #52
CR March: https://www.softwerkskammer.org/activities/Coderetreat20200321

[2020-02-10 20:45] dertseha commented on #53
Next dojo set up:
* https://www.softwerkskammer.org/activities/CodingDojoVie20200219
* https://twitter.com/swkWien/status/1226970084972822541

[2020-02-24 17:16] dertseha commented on #53
Next dojo set up:
* https://www.softwerkskammer.org/activities/CodingDojoVie20200304
* https://twitter.com/swkWien/status/1231990628759867392

@xbojch I see you are planning something on the 16th of March - perfect. I am pushing towards two-week intervals (implicitly, since I am going for two-week dojo intervals at Z, and whenever there's room, I'll make it a public one)

[2020-02-26 07:17] xbojch commented on #53
Sounds good @dertseha. I'll wait with the announcement until 2020-03-04 to not mix the two dates.

[2020-03-10 09:03] xbojch commented on #53
Our company is in preventive self isolation - working from home. Organizing a coding dojo at this time would defeat this purpose. Since there was a coding dojo already in March, I'll skip organizing the one planned for March 16th.

[2020-03-11 06:20] dertseha commented on #53
All good, thank you, @xbojch

[2020-03-11 08:46] gregorriegler commented on #52
I'm sorry guys, but i'm gonna skip the next Coderetreat due to COVID-19.

If you are open for trying a remote Coderetreat, which i believe could be an interresting challenge and learning (Some Resources https://www.remotemobprogramming.org/),
I'd be willing to help with preparation and setup.

[2020-03-11 17:16] dertseha commented on #52
Thank you for bringing this up, @gregorriegler .
Having an online retreat has some merits - I was also considering making the next evening-dojo an online thing.
curious...

As for the actual event next week: We'll keep you all posted.

[2020-03-11 22:44] codecop commented on #52
@dertseha @gregorriegler I changed the March event to be remote on both Doodle and SWK web. What would be a tool we would meet online? Skype? Zoom? We can use the workflow in https://www.remotemobprogramming.org/ , maybe need more than one "channel".

[2020-03-12 09:18] gregorriegler commented on #52
first of all, i think it's important that everybody attending has a webcam.
it creates a much better, more personal environment.
in my experience, having a remote conference where everybody or just some people have no video feed is awkward. If you don't have one, i recommend ordering one sooner than later.
some are already out of stock due to the increase of remote work.

Also, its important to ha

[2020-03-12 21:55] xbojch commented on #52
https://twitter.com/markdalgleish/status/1238206018070302720?s=21

Von meinem iPhone gesendet

[2020-03-13 06:14] dertseha commented on #52
Most of the recommendations are all one-to-many things (twitch, youtube, ...) - and then there are the things that cost money.
So far I'm tending towards free tools like Slack or Discord, which let you use camera and screen sharing. While you need a login, you are not in a cost plan there. Yet, anyone can talk and present their screen.
I don't know of the audio codec quality of Slack, I am however

[2020-03-13 11:37] codecop commented on #52
We can test run Slack, Skype, Discord and MS Teams. I have installed everything now ;-) @gregorriegler

[2020-03-14 16:03] gregorriegler commented on #52
I started some research on Free Tooling.
https://docs.google.com/spreadsheets/d/1v9we8E2wVw-E3wXF_wRzSAZg-vLF-Z6bgPCWGxGwboI/edit?usp=sharing
Not very successful. Maybe we should opt-in paying for something like Zoom.

This link allows for editing! You are invited to change it in whatever way.

[2020-03-14 17:16] goerge commented on #52
I just found https://www.remotemobprogramming.org/ which is a nice read. They’re using https://whereby.com/ and some other interesting tools.

[2020-03-14 17:24] goerge commented on #52
Regarding paid tooling:
I really love to pay for software. That’s how we’re making money, right?
I can offer to donate money or licenses to the SWK Wien.
That said: A lot of software shops are willing to give away free licenses to communities like this. Maybe we need to ask for it if they don’t offer it publicly.

[2020-03-26 22:43] codecop commented on #52
Remote CR für May is life https://www.softwerkskammer.org/activities/Coderetreat20200516

[2020-03-30 05:26] dertseha commented on #52
Based on FM4s article ([German only](https://fm4.orf.at/stories/3000611/)), I am skeptical about Zoom, and at the same time highly interested about [Jitsi Meet](https://jitsi.org/jitsi-meet/).
Is anyone interested in doing a test-run of this software with me?

[2020-03-30 08:38] gregorriegler commented on #52
@dertseha sure, i'd like to join you on the test-run.

[2020-03-30 10:42] xbojch commented on #52
If it will be in the evening, I’d like to join too.

Von meinem iPhone gesendet

[2020-04-14 09:22] codecop commented on #53
@xbojch how about organising a remote coding dojo in April?

[2020-04-15 21:46] paulroho commented on #53
I played around with property-based testing in Javascript (https://github.com/paulroho/DrawingThePyramid). As we already used the example for an internal Dojo (branch DojoStart), I could offer to facilitate a similar public Dojo ([basic instructions](https://github.com/paulroho/DrawingThePyramid#Using-in-a-Coding-Dojo)).
I am pretty excited about the topic!

![image](https://user-images.githubuser

[2020-04-15 22:13] codecop commented on #53
Welcome back Paul. Yes go ahead please

[2020-04-15 22:20] paulroho commented on #53
What about April 29th?

[2020-04-15 22:42] xbojch commented on #53
Maybe I can organize one dojo online in May or June. Can’t really make it at my current flat. But we’re moving in May.

Von meinem iPhone gesendet

[2020-05-04 20:06] codecop commented on #52
Hi crafters, next remote CR was scheduled for Sat 16th May. Till now only @gregorriegler registered. At the same day there is a "Mobretreat for Craft Community Organizers, Europe" Mobretreat as preparation for a Global Day of Mobretreat later this year. (Registration would is here https://www.eventbrite.com/e/eu-and-uk-mobretreat-registration-104193664054)

Question: @dertseha @goerge @paulroho @m

[2020-05-06 11:17] caichinger commented on #52
This time I want to join again. Not sure if I can/want to spend the full duration though, I find the telco setting tiring.

@dertseha @gregorriegler your tech setup question is answered?

Personally I prefer the "home baked" (swkWien) CR version.

[2020-05-06 17:31] haraldreingruber opened #54 "Mob-Programming on Open Source Software Meetup"
Hi,

I am thinking about starting a Mob-Programming Meetup in the next couple of weeks and I would like to share the idea with you and ask if some of you would be interested in organizing it as a team?
Probably we will also need people who could imagine facilitating a mob during the meetups => if you are not sure if you want to join the orga team but could imagine taking over the facilitator role

[2020-05-06 17:38] haraldreingruber commented on #52
Hi all,

I am thinking about starting a Mob-Programming Meetup in the next couple of weeks, I just created an issue describing my idea here: #54.

The Mob-Retreat (https://mobretreat.github.io/Day%20of%20mob%20retreat) idea would be a nice fit for the Meetup as well and the Sessions mentioned might be interesting in learning from experienced people how to facilitate a Mob-Programming Meetup.

It's

[2020-05-13 09:45] haraldreingruber commented on #52
I've decided to join the mob-retreat on Saturday for at least half of a day, and the CR on June 2: https://www.softwerkskammer.org/activities/Coderetreat20200602

[2020-05-13 12:54] rolger commented on #52
Hi

I'm not able to join this time

cu next time
roland

On Wed, May 13, 2020 at 11:46 AM Harald Reingruber <notifications@github.com>
wrote:

[2020-05-13 13:10] gregorriegler commented on #52
Roland,
can you provide us with the UI code from last retreat?

greetings,
Gregor Riegler

Am Mi., 13. Mai 2020 um 14:54 Uhr schrieb Roland Germ <
notifications@github.com>:

[2020-05-15 17:56] dertseha commented on #52
OK, I finally find some time to go through these events.
As I am curious about how an online mob works, I'll join that one.

[2020-05-15 21:02] rolger commented on #52
Hi Gregor

you'll find the code in my github repository:
https://github.com/rolger/angular-tdd-ui-kata

cu roland

On Wed, May 13, 2020 at 3:10 PM Gregor Riegler <notifications@github.com>
wrote:

[2020-05-16 06:50] gregorriegler commented on #52
thank you roland !

[2020-06-22 20:17] dertseha commented on #53
Is anyone able to log in to softwerkskammer.org using GitHub as the provider? For me it fails with 500 error.
I'd like to register a new dojo.

[2020-06-23 05:21] dertseha commented on #53
Thank you, @codecop  - the event for June is registered:
SWK: https://www.softwerkskammer.org/activities/CodingDojoVie20200629
Twitter: https://twitter.com/swkWien/status/1275295072733597696

[2020-07-01 17:31] codecop commented on #54
Closing this. The Meetup exists and Mobretreat is happening. See https://www.meetup.com/de-DE/Mob-Programming-on-Open-Source-Software/events/271306806/

[2020-07-01 17:31] #54 closed

[2020-07-01 17:33] codecop commented on #52
@swkWien/core  @swkWien/friends next CR is planned Sat 18th at the same day as the Mobretreat. Should we run still the Coderetreat?

[2020-07-09 16:22] dertseha commented on #53
And the first one for July:
SWK: https://www.softwerkskammer.org/activities/CodingDojoVie20200713
Twitter: https://twitter.com/swkWien/status/1281095806565724168

[2020-08-02 07:03] dertseha commented on #52
How was the mobrereat?

[2020-08-05 13:01] haraldreingruber commented on #52
@dertseha it was really good. We were very happy with our first mob-programming event.

The first mob-programming on open source software event will be on August 20: https://www.meetup.com/Mob-Programming-on-Open-Source-Software/events/272101476/
For the first one, we will start with a single mob, which might make it easier for us to evaluate and improve the session format. Later we might want to

[2020-10-13 15:44] #27 closed

[2020-10-13 15:49] codecop commented on #52
@swkWien/core @swkWien/friends Global Day of Coderetreat is coming up. It is 7th of November, potentially also 6th. I can support but for a large event we need some help from hosts/companies/facilitators etc.
Alternative just run our small 10 people Coderetreat as usual.

[2020-10-16 09:02] caichinger opened #55 "Coderetreat on November 7th (GDCR20)"
This issue serves the purpose of organizing this year's swkWien GDCR sessions.

Here is a preliminary summary of what need to be discussed and decided (TBD) on and what needs to be done (TODO).

TBD:
- [x] ~~"6th AND 7th" OR~~ "7th only"
- [x] Schedule --> #57
- [x] Local facilitators? --> Yes, see above
- [x] ~~Guests? If there are invited guests, we need a financial ressources~~ No invitations

[2020-10-16 09:03] caichinger commented on #52
#55 I created a separate issue for the GDCR.

[2020-10-16 09:10] caichinger commented on #55
From my side:
- I can help with organizing and suggest ideas.
- I cannot help with getting a sponsor.
- At the last code retreat, I liked the centrally organized (zoom) breakout sessions as they facilitated smoothly switching between different contexts (entire group vs small teams).
- Once the tooling is agreed on, we need to communicate our choice as well to make sure every participant has the re

[2020-10-17 05:56] dertseha commented on #55
Re tooling: At least Zoom appears to need a specific license to allow breakout rooms with screen sharing and remote control (correct?)
A side thought I had: What if we created 10 Google meetings in parallel, named Room 1..10" and people use those?

As for sponsor: What is there to sponsor? We don't have lunch together. Though, perhaps the tool...
Wild idea: The only thing (combining both thoughts

[2020-10-17 15:36] caichinger commented on #55
Yes, you are correct. Last time, a participant (David Tanzer), jumped in and took care of that. In case we somehow have a professional license, that would be an easy solution. From past experience, I believe remote control is not that important (it is quite slow and you need to be very patient - in my opinion it is easier to either keep the driver or share through e.g. a repo).

Should work; not a

[2020-10-17 15:39] caichinger commented on #55
Survey: Please vote by reacting to this comment with
- :blue_heart: if you want this code retreat to be more like a zero overhead CR (ad hoc program/topics).
- :green_heart: if you want this code retreat be more like a GDCR (pre-defined program/topic).

[2020-10-17 15:43] caichinger commented on #55
Survey: Please vote by reacting to this comment with
- :one: (`one`): if you want a one day retreat on the 7th.
- :two: (`two`): if you want a two day retreat on the 6th and 7th.

[2020-10-17 15:57] dertseha commented on #55
...uhh... how do I put these reactions? The smiley popup shows only 8, none of which is one of your proposed options :)
As for overhead: I'm neutral (unless it's about getting gather.town to work ;) - yes, it's cute and to me it underlines the "fun" part of such an event )
And for how many days: I most likely won't be able to join on a Friday.

As for sponsoring and paid facilitator: Ah, thank you

[2020-10-17 16:04] caichinger commented on #55
Ups, sorry. Did not occur to me that reactions could be limited. Thx for pointing that out, fixed the emojis.
You can add your vote now.

I will send you a mail.

[2020-10-18 10:25] gregorriegler commented on #55
So many questions.

What is the goal of the GDCR? What makes it different from other retreats? What is our goal?

I'm personally totally fine with our ordinary saturday zero overhead coderetreat, and keep on doing what we did so far.
But if you want to do something else, like draw more folks and have it more planned out like the traditional GDCRs i'm also fine with that. Or if we want to do both,

[2020-10-18 16:25] gregorriegler commented on #55
When you think of a central git repository for easier code sharing, don't forget about the Idea of throwing away the code after a session, and what this does in terms of psychological safety and shame. We know each other, and for us it's no problem.
But for somebody doing this for the first time, having no knowledge on TDD... they'll be shy to begin with. Forcing them to push their code into a cen

[2020-10-18 16:47] gregorriegler commented on #55
In my opinion in a remote event with new people that rotate in 50 minute sessions that haven't prepared the tech, Git handovers often don't work very well. Then they have to switch screen sharing which adds friction and is error prone if they don't have the experience. Some sessions might loose half their time to the handovers.

The same IDE tooling might help, such as this new IntelliJ CodeWithMe

[2020-10-19 07:34] haraldreingruber commented on #55
For online events https://cyber-dojo.org/ works really well because there is no setup required, allows to share code and results instantly, and everyone works on their own machine/browser.
Also, it supports most of the popular programming languages/frameworks.

[2020-10-19 07:36] haraldreingruber commented on #55
I have a Zoom Pro license and can offer to host the zoom session.

[2020-10-21 18:57] codecop commented on #55
Hi. I registered the event with SWK and the Coderetreat site (PR pending). I sent mails to Austrian SWK groups and Twitter:

- SWK https://www.softwerkskammer.org/activities/gdcr20-vienna
- Tweet https://twitter.com/swkWien/status/1318989265263595520

Please someone take if from here

[2020-10-21 20:30] dertseha commented on #55
OK, so, gather.town is now off the table then?
With a Zoom Link publicly announced and everything...

[2020-10-21 21:58] codecop commented on #55
Sorry forgot about that. Just wanted the registration out so we do not lose time. Still possible, we also need a way to help collaboration, i.e. collect github users etc

[2020-10-22 08:29] caichinger commented on #55
Is there an easy (not confusing) way to make people register in a way that we can contact them beforehand (re-announce and let them register through the SWK site?)?

If it is a small group with the usual regulars, we would need hardly any preparation (and can GDCR be like a zero overhead CR).
However, if there are more new people, it makes sense to provide them with a little information about what

[2020-10-22 08:38] caichinger commented on #55
I can offer to coordinate our activities if that is okay for you. Let me know if you have any objections.

[2020-10-22 11:45] caichinger commented on #55
Brief update:

The original [Doodle](https://doodle.com/poll/zbacxc4g37frcyzx) now asks participants to instead fill out this form http://tiny.cc/GDCRVienna.

Through the form, we ask participants about their email so we can contact them prior to the event and leave more room for us to.

*More later*

[2020-10-23 06:17] caichinger opened #56 "GDCR20: Technical Setup"
The technical setup is still being discussed and depends on the format of the retreat.
In particular it depends on the participants, with more newcomers requiring a more prepared setup.

#55 listed the following ideas and considerations.

Current options include:
- Use zoom for everyting (can be provided by @haraldreingruber)
- Use https://gather.town/ for additional interactivity (will be tested

[2020-10-23 06:20] caichinger opened #57 "GDCR20: Program, Facilitators"
The program is still being discussed and depends on the format of the retreat.
In particular it depends on the participants, with more newcomers requiring a more prepared program.

#55 listed the following ideas and considerations.

Current options include:
- Ad hoc code retreat, we develop the program on the fly (works well for small groups, works well for more experienced participants; may not b

[2020-10-23 06:45] caichinger commented on #57
@swkWien/organiser you want to facilitate one of the sessions? Maybe @dertseha or @gregorriegler? Assuming there are newcomers, there should be at most two different problems we work on (ideally only 1); each session focusing on a different aspect.

[2020-10-23 06:46] caichinger commented on #57
@haraldreingruber you want to facilitate a final mob/team programming session to conclude the day?

[2020-10-23 06:49] caichinger commented on #55
*I hereby assume the role of coordinator.*

As mentioned above, registration is now out and we have more time to play around with ideas and specify the setup.
There is only **one global day of coderetreat** each year and it would be nice to **make it something special**. In particular, we may be able to attract new participants. To this end, there are two new issues which summarize the main inputs

[2020-10-23 07:08] caichinger opened #58 "GDCR20: Event Announcements"
@swkWien/friends  @swkWien/organiser

Help us spread the word of this years global day of coderetreat GDCR Vienna 2020!

Important facts:
- Date and time: 2020-11-07 09:00-17:00 (arrival 08:45)
- Event page: https://www.softwerkskammer.org/activities/gdcr20-vienna
- Registration: http://tiny.cc/GDCRVienna (required for setup)

To simplify matters, below is a short text you can use to invite your f

[2020-10-23 14:01] gregorriegler commented on #56
I recently tested the IntelliJ CodeWithMe. The Editing and collaborating kinda works, but it lacks a lot of features such as:
- refactor move static method and other refactorings do not work on the client
- can't see code completion of peer
- client can't see commit window
- client can't commit
- connection broke accidentally
- run configuration renaming not updated on peer
- gradle test run not v

[2020-10-23 14:18] caichinger commented on #56
That is good to know, thank you for trying and sharing.

---

To add on that: When I last tried to hand screen control over using Zoom, it worked but the other person had to deal with quite annoying delays. It sounds nice in theory but in my opinion is not worth it.

[2020-10-23 14:26] gregorriegler commented on #57
Thank you @caichinger for the proactive coordination and inclusion. Let's see if more people register for the event to make a proper facilitation necessary. Of course i'd be happy to help. And i'd also love one or two mob sessions with haralds setup.

[2020-10-23 15:13] haraldreingruber commented on #57
Yeah, it would be great to offer 2 rounds of mobbing, so we could compare 2 different mob-programming styles.
Using the cloud desktop setup might be better, as this way the hand over is faster. But if there are more than 2 mobs, I think using Cyberdojo would be better.

[2020-10-23 15:25] haraldreingruber commented on #56
I agree. Remote control via Zoom has a bad user experience.

VSCode LiveShare or Cyberdojo might be better.
For VSCode LiveShare, participants would need to sign up via their Microsoft or Github account ideally before the event, so that they are able to share their project.

We used Cyberdojo in a mobretreat but didn't use the prepared katas. We just chose the language and test framework as each g

[2020-10-23 15:27] haraldreingruber commented on #56
Shall we do a short test session, with the most promising setup options?

[2020-10-23 16:52] caichinger commented on #56
Yes, let's do that end of next week.
Thank you for sharing your thoughts.

Cyberdojo worked nicely in Christian's dojos as well, I think this is a safe option.
Having a fixed driver and small teams (minimob?) worked well too.

For programming languages benefiting from a heavier IDE (thinking of Java), there are not so many options - it boils down to sharing the code I guess. Or am I missing someth

[2020-10-24 18:36] haraldreingruber commented on #56
Sounds good, I would be available on Thursday evening or Saturday.

[2020-10-27 07:00] caichinger commented on #56
@dertseha and I had a short https://gather.town/ trial today and I want to give you a brief update.

TLDR; we will give it a try

The tool is very easy to use and everything worked out of the box. Having a character to navigate around a (virtual) space and interact with the environment was fun and really felt a bit like "we are in this space together".
Important aspects:
- You see each other in th

[2020-10-27 09:30] haraldreingruber commented on #56
Sounds great, looking forward to trying out gather.town!

[2020-10-27 19:56] caichinger commented on #58
Update:
- At the moment 9 people are enlisted (not yet including all fellow organizers ;)
- **If you have not yet advertised the event at work or invited your friends/colleagues, please do so asap to help us plan. Thank you.**
- I guess we can expect more people to register in the run up of the event. Not sure about no shows though.

[2020-10-27 20:54] gregorriegler commented on #57
As it seems like more people are registering i would like to offer to facilitate one or two sessions. Thinking of a Strong Style Pairing session, and maybe one more for Tell dont Ask.

@haraldreingruber about your mob session: how many people would you consider for a mob ~6 and split up? or would you make just one big mob?

[2020-10-28 16:58] haraldreingruber commented on #57
@gregorriegler Yeah, I think 6 would be already max. I would suggest a 3 minutes mob-timer, and it would be great if everybody will be able to drive at least twice, plus some additional time as often the timer won't be re-started immediately. Each session would be 45min? 2x6x3min is 36min, then we would have ~10min for intro and some time buffer.

If you facilitate Strong Style pairing, it would h

[2020-10-29 07:27] caichinger commented on #57
The issue description is now updated, please take a look.

We need a kata (or two) for the day (otherwise participants spend too much time understanding the problem). If you have no other suggestions, we will use **Game of Life**.
It would be nice to have an overall topic, like a story arc, but that is not mandatory.

For each session we need a
- Name
- Topic/Objective
- Facilitator

@haraldreingr

[2020-10-29 21:51] haraldreingruber commented on #57
Unfortunately, I can't amend the description. Can you add me to the team?

[2020-10-29 22:39] caichinger commented on #57
Sorry, don't have the privileges.

I moved the section to this [doc](https://docs.google.com/document/d/1y0uqy26ZkWwlfJ-RtLB680mvzL_yGFbk59ab6WDvqWU/edit?usp=sharing). You can make your amendments there.

[2020-10-31 12:24] caichinger commented on #57
We have agreed on a program. The details are outlined [here](https://docs.google.com/document/d/1y0uqy26ZkWwlfJ-RtLB680mvzL_yGFbk59ab6WDvqWU/edit?usp=sharing).
@dertseha and @codecop please comment.

- Kata: Game of Life
- Session 1-2: Focus on tests and collaboration
- Session 3-4: Focus on design/dev aspects (tell don't ask; *always working solution*-constraint)
- Session 5-6: Team programming a

[2020-11-02 08:05] codecop commented on #57
Do you need material for the intro? Material to introduce Game of Life?

[2020-11-02 08:58] caichinger commented on #57
Yes please, whatever you have. (Thank you for asking before I do ;)

[2020-11-02 11:16] codecop commented on #57
https://de2.slideshare.net/pkofler/global-day-of-code-retreat-2013
https://de2.slideshare.net/pkofler/gdcr15-in-las-palmas-gran-canaria
https://de2.slideshare.net/pkofler/code-retreat-venice-2016
with evolution 2013-2016 ;-)

[2020-11-03 14:29] codecop commented on #56
I have forked https://github.com/swkWien/kata-bootstraps-gdcr20 and add you (group) as maintainer and invited all ppl currently registered. This can be used to share code for pairs.

[2020-11-03 14:33] codecop opened #59 "Coderetreats 2021"
The Coderetreat is a full day practice event. It is run on the third Saturdays every second month. We run small Coderetreats as discussed in #46

Month - Where
(Jan) 16.1.2021 - remote using Gather and Trello (Gregor)
(Mar) 20.3.2021 - remote using Gather and Trello (Gregor)
(May) ~~15.5.2021~~ [28.5.2021](#61 ) - remote using Gather and Trello (Gregor)
(July) [16.7.2021](https://github.com/swkWie

[2020-11-03 14:34] #52 closed

[2020-11-03 14:35] codecop commented on #58
Should I send a reminder mail from SWK mailing service? Not sure how many mails have been sent

[2020-11-03 14:40] codecop commented on #57
Plan in doc looks good to me. good to go

[2020-11-03 14:55] caichinger commented on #58
If you usually send out a reminder, yes, please do that. Thank you.

I have not sent a mail.

The only mail I plan to send is the one to the participants (according to our poll) which goes out on Thursday.

[2020-11-03 18:04] haraldreingruber commented on #56
That's awesome @codecop. I think our current plan is to basically let the pairs/teams decide on their own. But we will suggest to use cyber-dojo.org, at least it will be the only one where we will offer technical support...

That idea is probably not yet set in stone, and I guess we will talk about it during the next meeting.

[2020-11-03 18:29] caichinger commented on #57
Update schedule to account for longer intro

![image](https://user-images.githubusercontent.com/16005912/98025816-7bc5d100-1e0a-11eb-91b5-f1a07670b715.png)

For more details see below

[WIP: Slides including intro](https://docs.google.com/presentation/d/1a5g_I00qTFCQvblCVSl1-EdFVB1SKoRX4eKWuB9Go0I/edit?usp=sharing)

[WIP: Working doc including program](https://docs.google.com/document/d/1Vy79tH-Zh

[2020-11-03 18:29] #57 closed

[2020-11-03 18:46] caichinger commented on #56
Thank you for setting up a repo and inviting the participants.

Yes, cyber-dojo.org is what we suggest as ready-made-solution but having the repo with members already added will speed things up for those who want to run their local setup.

[WIP: Intro slides with tech setup](https://docs.google.com/presentation/d/1a5g_I00qTFCQvblCVSl1-EdFVB1SKoRX4eKWuB9Go0I/edit#slide=id.ga6eb3a7f59_0_29)

[WIP: W

[2020-11-03 18:46] #56 closed

[2020-11-04 11:06] codecop commented on #58
done

[2020-11-06 06:27] caichinger commented on #58
No further announcements planned.

How to document sent out to participants yesterday. Participants who signed up later will be informed during the day individually.

How to: https://docs.google.com/document/d/1vPSi6bB5lc3aPTSSXjl48vmXNKN9QPZbPTzi18Az3T4/edit?usp=sharing

As of now, 23 people registered, 6 of whom are newcomer.

[2020-11-06 06:27] #58 closed

[2020-11-06 14:31] gregorriegler commented on #58
kann ich irgendwo die anmeldungen sehen?

[2020-11-06 16:04] codecop commented on #58
habs dir freigegeben. nichts löschen!

[2020-11-06 20:20] caichinger commented on #58
FIY Bernhard cancelled, I removed his response from the poll; just in case you are wondering.

[2020-11-14 14:22] dertseha commented on #59
For online cases, please consider using the gather.town space again. I'm also offering to pay for this service in order to receive dedicated server time. Please tell me in advance, so I can set it up accordingly.

[2020-11-20 16:32] caichinger commented on #55
Closing.

Thank you again for making this event possible!

[2020-11-20 16:32] #55 closed

[2020-11-20 17:15] caichinger commented on #59
I am currently using the paid version of Gather with up to 15 participants (three groups). I like it quite a lot because it allows for nice group/crowd interactions/activities and very natural breakout sessions but we regularly encounter issues where participants cannot hear each other. The problem can usually be resolved by reloading the page though.
If one of you wants to use my meeting space fo

[2021-01-10 21:06] gregorriegler commented on #59
@caichinger will you join us on Jan, 16th?

[2021-01-11 21:39] #53 closed

[2021-01-11 22:20] caichinger commented on #59
Happy to do so. Did not notice it is already CR-time again.

[2021-04-06 13:44] caichinger opened #60 "Future of softwerkskammer.org"
Dear @all,

I guess most of you have received the mail "Nachricht von der Softwerkskammer" (see copy below). I open this issue so we can discuss if/how we, as swkWien, want to react to the therein outlined problems - and maybe more importantly the implications for our activities.

---

For completeness, the abovementioned mail from the softwerkskammer-maintainers:

[2021-04-06 15:02] dertseha commented on #60
I received that mail a few days ago as well.
So far I'm optimistically reserved about the situation. For one, because perhaps someone might step up to maintain the site, and second, we are not *that much* relying on it.
If indeed the site no longer allows setting up events with registrations, then I'd think about an alternative. I did have a brief look at meetup, yet I'm very (very!) reluctant to

[2021-04-08 11:21] caichinger commented on #60
Let's see what they write in their update which is announced for 12th of April.

---

@dertseha do you already have something in mind? Just asking out of curiosity.

[2021-04-10 06:06] dertseha commented on #60
No. I made a quick cursory search and found a few posts comparing other platforms, which I haven't looked at. It's something I'd do when it's needed. I do not know of an Austrian resource, yet would be happy to boost their usage.

[2021-05-12 13:52] caichinger opened #61 "Coderetreat 2021-05-15"
We have a scheduled Coderetreat (#59) for coming Saturday and there is not yet an event at https://www.softwerkskammer.org/activities/upcoming.

I am happy to create an event but I do not want to interfere if somebody else is already doing that. To be honest, I do not know if there is an "official" procedure.

Unfortunately, I cannot recollect the last CR. Hence if there were any decisions that in

[2021-05-12 13:59] caichinger commented on #61
@gregorriegler @codecop pinging you about the upcoming CR, please see the description of the issue. Thx!

[2021-05-12 18:54] codecop commented on #61
@caichinger I did not plan anything because I am not available this weekend and also @gregorriegler did not talk about it. So I let it be and accepted the date to slip by. If you want to go ahead please do. imho it is a bit late to announce it

[2021-05-12 19:02] gregorriegler commented on #61
@caichinger @codecop
I had planned to use the longer weekend for break, and more time for family. That's why I didn't do anything about it this time. But I'm thinking about doing a public zero overhead retreat on Friday in two weeks. 9:00-15:00 sorta.
Is a friday a day where you would be happy or able to join?

[2021-05-12 19:31] codecop commented on #61
Friday 28th of may 9-15 sounds good

[2021-05-13 01:56] caichinger commented on #61
Thank you for your responses.

We can of course reschedule. Personally, I do not want to drop the CR entirely because I see value in the "rhythm" (better not set a precedent :D).

Not sure about Friday vs. Saturday, i.e. workday vs. weekend, though.

For me Friday (28th) would be fine as well.

@dertseha how about you? I see you added a label, hence I believe you are part of this discussion as wel

[2021-05-13 03:42] maosmurf commented on #61
@caichinger thank you for the proposal! FWIW, this saturday is too short of a notice for me, too. 28th is great though.
Personally, fridays would be my favorite too, but I’m happy with either day. Code you soon!

[2021-05-13 06:19] dertseha commented on #61
I'm with codecop on this one -- apparently schedule didn't match up. I as well didn't realize it's planned state as the Google calendar entry wasn't present.
I also understand the avoidance of a precedent, so a proposed alternative is great. For me it's possible that I could join on a Friday, though I need to double-check with any work meetings.

[2021-05-13 11:19] caichinger commented on #61
Seems we have found a good way to keep the May edition - thank you for the quick responses.

Save the date: **Friday, 28.05.2021**

Looking forward to it!

@gregorriegler if you need something, let me know, I am closing this one.

[2021-05-13 11:19] #61 closed

[2021-05-14 12:02] gregorriegler commented on #61
I created the Event and a Trello:
https://www.softwerkskammer.org/activities/Coderetreat20210528
Please register for the event
https://trello.com/invite/b/zoDxdxXd/86330c9dc8c6083d6861432d6af0ad16/coderetreat-vienna-2021-05-28
You can already start adding topics

[2021-05-14 18:44] dertseha commented on #61
Thank you, Gregor.

I also realized that the 28th is the third day of GopherConEU, so, I won't attend the Coderetreat.

[2021-06-30 20:44] caichinger commented on #60
Softwerkskammer is still up and running with no updates from the organizers so far. I will close this issue and reopen in case of need.

[2021-06-30 20:44] #60 closed

[2021-07-02 09:49] caichinger opened #62 "Small Coderetreat 2021-07-16"
**Reminder & Save the Date: Small Coderetreat 2021-07-16**

At the moment, I cannot log in to softwerkskammer.org to create the event. As interim solution this issue serves as a reminder. I will update this issue once the event is created.

---

# Small Coderetreat Vienna 2021-07-16 (online)

09:00 - 15:00 | Zero Overhead Coderetreat | Bring Your Own Topic

For participation, please register via S

[2021-07-03 09:25] caichinger commented on #62
Nachdem wir da ein paar Bugs gefunden haben, war der Coderetreat jetzt schon ein Erfoglt ;)

Hier das Event:

https://www.softwerkskammer.org/activities/Coderetreat20210716

Auf bald!

[2021-07-03 09:25] #62 closed

[2021-09-20 05:11] caichinger opened #63 "GDCR21: Which day which way?"
@swkWien/organiser der GDCR 2021 steht vor der Türe.

Freitag oder Samstag, online oder doch physisches Treffen?

Bitte um eure Meinung via https://doodle.com/poll/ypwv5pu25eg4xq8b. Die Umfrage gerne an alle Interessierten außerhalb unserer Gruppe weiterleiten, danke.

[2021-09-20 15:53] dertseha commented on #63
Servus Claus!
Danke Dir für die Initiative!

[2021-09-21 07:39] maosmurf commented on #63
Wie steht ihr zu physichem Treffen mit 1G als Voraussetzung? Am GDCR sitzen doch alle ganztags beisammen.

[2021-09-22 08:08] caichinger commented on #63
Gerne! Haben wir aber beim letzten CR gemeinsam besprochen, insofern nicht meine Initiative.

[2021-09-22 08:11] caichinger opened #64 "GDCR21: Mögliche Locations?"
Der aktuelle Stand der [Umfrage](https://doodle.com/poll/ypwv5pu25eg4xq8b) weißt darauf hin, dass es durchaus Interesse an einem physischen Event gibt.

Unabhängig davon ob wir das wirklich machen:

Wer von euch @swkWien/organiser hat Zugang zu einem geeigneten Ort?

Bitte Erkundigen einholen und hier Infos teilen, danke.

Besonders relevante Infos:
- Welche Tage sind möglich? Freitag und/oder Sam

[2021-09-22 09:13] rolger commented on #64
Ich habe bei uns in der Firma angefragt, ob wir als Host zur Verfügung stehen. Ich gebe Bescheid wenn ich mehr weiß.

Ein Thema ist auf jeden Fall, welche Covid Regeln wir festlegen? Unser Büro ist zwar groß, trotzdem könnte es u.a. eine Einschränkung bzgl. der Anzahl der Teilnehmer geben. Ein anderer Gedanke ist, wenn wir es vor Ort durchführen, dann könnte die Auflage sein es am Samstag durchfüh

[2021-09-22 09:18] rolger commented on #17
Emily provides a simple starter project: https://github.com/emilybache/starter

[2021-09-22 11:50] rolger commented on #64
Ich habe von unsere GF ein Go bekommen, Nagarro wird den Event hosten. Rahmenbedingung muss ich noch klären.

[2021-09-28 09:10] rolger commented on #64
Nagarro würde das Büro für Samstag 13.11. zur Verfügung stellen (Freitag geht nicht). Ah ja, wir sind im 12. Bezirk zu Hause und zwar im EURO Plaza Bürokomplex. Öffentlich ist das Büro mit der S-Bahn und der U6 sehr gut erreichbar. Samstag findet man auch Parkplätze und es sind keine Kurzparkgebühren zu bezahlen.

Es gibt eine Teilnehmerbeschränkung auf maximal 50 Teilnehmer. Das ist zur Zeit auch

[2021-09-28 13:12] codecop commented on #64
@caichinger @gregorriegler @rolger wir sollten so ca. vor dem 11.10 mal online treffen und alles planen wegen Anmeldung usw.

[2021-09-30 11:45] caichinger commented on #64
Ja, ein Abstimmungstermin ist bestimmt hilfreich. Kann am Wochenende ausschicken für Abstimmung.

Ich würde damit auch die Entscheidung treffen, dass am Samstag, den 13.11., der GDCR wie oben beschrieben stattfinden wird.
Details TBA aber Save the Date damit fix.

Alle einverstanden?

[2021-10-01 07:29] rolger commented on #64
Ja, das klingt gut. Sollen wir einen Doodle Link für einen Termin anlegen? Gibt es präferenzen? Ich bin nächste Woche sehr flexible :-)

[2021-10-04 05:49] caichinger commented on #63
Dank @rolger können wir am Samstag, den 13.11., ein physisches Event bei Nagarro (#64) abhalten. Details folgen.

[2021-10-04 05:53] caichinger commented on #64
Bitte hier um Doodle eure Verfügbarkeiten angeben:

https://doodle.com/poll/xfdyr6hym52ac3gq?utm_source=poll&utm_medium=link

Wenn wir noch mehr Möglichkeiten brauchen, gebt Bescheid.

@dertseha @maosmurf referenziere euch, da ihr euch im anderen Issue auch zu Wort gemeldet habt.

[2021-10-06 08:06] caichinger commented on #64
Danke für's Ausfüllen.

Wir machen den Call **heute um 17:00 in Gather Town**.

https://gather.town/app/kNtWdLSSLSYIoR5R/CodingDojo

Wenn jemand von euch @rolger @gregorriegler @codecop heute doch nicht kann, verschieben wir auf 11.10. 18:00.

Ihr bekommt noch ein Mail.

[2021-10-06 14:53] caichinger opened #65 "GDCR21: Event Announcements"
Help us spread the word of this year's global day of coderetreat event in Vienna!

Important facts:
- Date and time: 2021-11-13 09:00-17:00 (arrival 08:45)
- Event page: https://www.eventbrite.at/e/global-day-of-coderetreat-vienna-2021-tickets-189806314797

To simplify matters, below is a short text you can use to invite your friends and colleagues.

Thank you!

---

Announcements:
- [X] Create SW

[2021-10-06 14:55] caichinger opened #66 "GDCR21: Program, Facilitators"
# Issue zur Diskussion

Aktueller Stand siehe Verlauf.

---

Diskussion: https://docs.google.com/document/d/1ya50ifaiG8a2b6_J-oypsIHfTrMrDF20lu4ekC_TPZI/

Zeitplan: https://docs.google.com/spreadsheets/d/12qqm25-_Dz9DeiSJGxCyufPgDYerd2N8iCEoeZhlXrU/

Cf last year #57

[2021-10-06 17:00] #64 closed

[2021-10-08 14:01] gregorriegler commented on #65
Achtungb, der Link zeigt auf 2020

[2021-10-10 06:53] caichinger opened #67 "GDCR21: Tickets & Registration via Eventbrite"
Erstellen via https://www.eventbrite.com.

Dort auch noch einmal alle Infos hinterlegen. Textforlage: https://www.softwerkskammer.org/activities/gdcr20-vienna.
Bitte nicht nach Anrede fragen.

Inbesondere:

Ticket:
- Preis: 5€
- Anzahl der Tickets auf 50 (?) beschränken.
- TBD: Pro Person kann nur ein Ticket gekauft werden?

Umfrage:
- I am aware that I need a 2G proof to participate in the event.

[2021-10-10 07:10] caichinger commented on #63
Weitere Aktivitäten zum GDCR21 in den Issues https://github.com/swkWien/sessions/issues

[2021-10-10 07:10] #63 closed

[2021-10-11 16:14] rolger commented on #67
Ja das ist okay. Ich probiere gerade einen 1. Anlauf auf EventBrite

[2021-10-11 16:37] haraldreingruber commented on #66
Hey @caichinger, wär gerne dabei und fände eine mob Session als letzte Runde toll...
Bin aber leider dieses Wochenende nicht in Wien.

@gregorriegler hat denke ich sehr viel mob-programming experience, vermutlich sogar mehr als ich durch unsere meetups... Vielleicht hat er Interesse?

[2021-10-11 17:42] caichinger commented on #66
@haraldreingruber danke für deine schnelle Rückmeldung. @gregorriegler wird nicht am Retreat teilnehmen und fällt damit als Moderator aus.

[2021-10-11 19:35] rolger commented on #66
Ich kann einen Mob oder ein Orchester am Ende auch abhalten 😊

[2021-10-11 20:18] dertseha commented on #67
Ich hatte das so gemacht:
* Gebühr zahlt Veranstaltung - also in dem Fall Du; Wenn Ticket 15 EUR kostet, bekommst Du zB 14,5 EUR (Hausnummer) überwiesen
* Wer dann vor Ort kam hatte bei mir unterschreiben müssen (könnte sich aktuell auch wegen Tracing gut anbieten) und dann hatte ich das betroffene Ticket zurückerstattet. Das ist eine etwas mühsame Klickerei, jedoch machbar. Person erhält 15 EUR z

[2021-10-11 20:26] dertseha commented on #65
Eine Verteilung über Twitter @swkWien kann ich dann übernehmen, noch leichter mit Textvorlage.

[2021-10-13 08:15] codecop commented on #65
Sobald die Registrierung auf Eventbrite da ist, werde ich auf Global Seite und allen Kanälen bewerben, inklusive SWK und Twitter.

[2021-10-13 15:57] rolger commented on #67
Was hält ihr von diesem Antwortschreiben:

Thank you for registering for the Global Day of Code Retreat. Upon your arrival, the organizer will take your registration and check the 2G proof. After that, your registration fee of 10€ will be refunded. If you do not attend, we will keep the fee.

[2021-10-15 07:46] caichinger commented on #67
@rolger und ich werden die Anmeldeseite heute Nachmittag finalisieren, dann wir das Issue geschlossen

Wer noch rückmeldne möchte, bitte in diesem [Dokument Änderungen Vorschlagen](https://docs.google.com/document/d/1ya50ifaiG8a2b6_J-oypsIHfTrMrDF20lu4ekC_TPZI/edit#heading=h.acg5emqvf53t).

[2021-10-15 13:00] caichinger commented on #67
Abgeschlossen, bei dringenden Änderungswünschen bitte direkt Roland kontaktieren.

[2021-10-15 13:00] #67 closed

[2021-10-18 07:43] caichinger commented on #65
Die Issue Beschreibung beinhaltet jetzt auch einen allgemeinen Text für Aussendungen die ihr gerne verwenden könnt.

[2021-10-19 05:45] dertseha commented on #65
Tweet sent out: https://twitter.com/swkWien/status/1450336799004499969

[2021-10-20 06:06] caichinger commented on #66
Auf Basis der bisherigen Rückmeldungen machen wir den **Call am Freitag 16:00-17:00** via Gather.

@ReaSu magst/kannst du dazu kommen?

Gedanken gerne schon in https://docs.google.com/document/d/1ya50ifaiG8a2b6_J-oypsIHfTrMrDF20lu4ekC_TPZI/edit#heading=h.a9hoaj9nwd2h ablegen.